@(isProd:Boolean)
@import views.html.templates.components.headerSimple;
@import views.html.templates.components.footerSimple;

<html>

<head>
	<title>Maperial</title>
	
    @if(isProd){
		<link rel="stylesheet" media="screen" href="http://static.maperial.com/css/maperial-webapp.min.css" />
   	}else{
		<link rel="stylesheet" media="screen" href="http://static.maperial.localhost/css/maperial-webapp.min.localhost.css" /> 
   	}
   	
	<style>
	.title{
		margin-bottom:55px!important;
	}

	.line{
		height:430px;
	}
	</style>
</head>

<body id="body">

	@headerSimple()
	
	<div class="container-fluid">

		<div class="marketing home-container websiteContent hugemarginbottom">
			
			<h1 class="hugemarginbottom">Demos</h1>

			<div class="row-fluid line">
				<div class="span4 offset2 maperial-container" id="map">
					<maperial uid="1_map_13ee017c8dac3b49852" width="400" height="400"/>
				</div>
				<div class="span4 maperial-container" id="map2">
					<maperial uid="1_map_13f18ec522f1ec62e0b" width="400" height="400"/>
				</div>
			</div>

			<div class="row-fluid line">
				<div class="span4 offset2 maperial-container" id="map3">
					<maperial uid="1_map_13f196019c63431328a" width="400" height="400"/>
				</div>
				
				<div class="span4 maperial-container" id="map4">
					<maperial uid="1_map_13f1969e6d19a5e46a5" width="400" height="400"/>
				</div>
			</div>

			<div class="row-fluid line">
				<div class="span4 offset2 maperial-container" id="map5">
					<maperial uid="1_map_13f1976a6cea80a51d6" width="400" height="400"/>
				</div>
				
				<div class="span4 maperial-container" id="map6">
					<maperial uid="1_map_13f19833d3afac2f76a" width="400" height="400"/>
				</div>
			</div>

		</div>
	</div>
	
	@footerSimple()

	@if(isProd){
		<script src="http://static.maperial.com/js/maperial-builder.o.js" type="text/javascript"></script>
	}else{
		<script src="http://static.maperial.localhost/js/maperial-builder.min.localhost.js" type="text/javascript"></script>
	}
	
</body>

					
</html>

