@import views.html.templates.components.maperial; 
@import views.html.popups.baseSelectionWindow; 
@import views.html.popups.sourceSelectionWindow; 
@import views.html.popups.selectStyleWindow; 
@import views.html.popups.selectRasterWindow; 
@import views.html.popups.selectImagesWindow; 
@import views.html.popups.customizeLayerSetsWindow; 

@maperial()

<!-- Custom for Layers  -->
<div class="panel snapper hide" id="panelLayers">
	<div class="row-fluid">
		<div id="addLayerButton" class="span2 offset2 addDataButton pointerCursor" {{action openSourceSelection}}></div>
		<div class="span1">{{textInput App.user.selectedMap.name id='mapNameInput'}}</div>
		<div class="span3 offset4 btn-small btn-primary" {{action saveMap}}>Save</div>
	</div>
	<div id="layers"></div>
</div>

@baseSelectionWindow()
@sourceSelectionWindow()
@selectStyleWindow()
@selectRasterWindow()
@selectImagesWindow()
@customizeLayerSetsWindow()