@import views.html.templates.components.maperial; 

@maperial()

<!-- Custom for Layers  -->
<div class="panel snapper hide" id="panelLayers">
	<div class="row-fluid">
		<div id="imgButtonVector" class="span3"><img src="assets/images/icons/layer.vector.png"></img></div>
		<div id="imgButtonRaster" class="span3"><img src="assets/images/icons/layer.raster.png"></img></div>
		<div id="addVectorLayerButton" class="addDataButton pointerCursor" {{action addLayerVector}}></div>
		<div id="addRasterLayerButton" class="addDataButton pointerCursor" {{action addLayerRaster}}></div>
	</div>
	<div id="layers"></div>
</div>
