<div class="container-fluid">

	<div class="webappContent marketing">
		<h1>Create a new map</h1>
		<div class="marketing-byline">
			<div class="span3 offset3">
				{{bound_equals App.Globals.currentView value='datasetSelection'
					yes='<h3>1 - Select the data</h3>'
					no='<h4>1 - Select the data</h4>'
				}}
			</div>
			<div class="span3">
				{{bound_equals App.Globals.currentView value='styleAndColorbar'
					yes='<h3>2 - Style your map</h3>'
					no='<h4>2 - Style your map</h4>'
				}}
			</div>
			<div class="span3">
				{{bound_equals App.Globals.currentView value='generation'
					yes='<h3>3 - Generate !</h3>'
					no='<h4>3 - Generate !</h4>'
				}}
			</div>
		</div>
		<hr class="soften">


		{{outlet}}
	</div>
</div>