
@import views.html.popups.selectStyleWindow;
@import views.html.templates.components.mapEditorContent; 

<div id="drawBoardContainer" class="hide">
	<canvas id="drawBoard"></canvas>
</div>

@mapEditorContent()

<div id="styleEditorManagement" class="hide">
	<a class="trigger" id="triggerStyleManager"  href="#">Menu</a>
	<div class="panel" id="panelStyleManager">
		<div class="row">
			<!-- style = Dialogr = jqueryui = no ember.action but onclicks... -->
			<div class="span2">{{textInput App.stylesData.selectedStyle.name id='styleNameInput'}}</div>
			<div class="span1 btn-small btn-primary" onclick="App.MapCreationController.openSettings()">Continue</div>
			<div class="span1 btn-small btn-primary" onclick="App.MapCreationController.openDatasetSelection()">Back</div>
			<div class="span1 btn-small btn-primary" onclick="App.MapCreationController.openStyleSelection()">More</div>
		</div>
	</div>
</div>

<div id="settings" class="hide">
	<a class="trigger" id="triggerSettings"  href="#">Settings</a>
	<div class="panel" id="panelSettings">
		<div class="row">
			<!-- style = Dialogr = jqueryui = no ember.action but onclicks... -->
			<div class="span1 btn-small btn-primary" onclick="App.MapCreationController.finish()">Finish !</div>
			<div class="span1 btn-small btn-primary" onclick="App.MapCreationController.backToStyleAndColorbar()">Back</div>
		</div>
	</div>
	<div id="buttonCenter" class="buttonMode"><i class="icon-screenshot icon-white"></i></div>
	<div id="buttonMapMode" class="buttonMode"><i class="icon-move icon-white"></i></div>
	<div id="buttonDrawMode" class="buttonMode"><i class="icon-pencil icon-white"></i></div>
	<div id="buttonReset" class="buttonMode hide"><i class="icon-ban-circle icon-white"></i></div>
</div>


@selectStyleWindow()