
@import views.html.popups.selectStyleWindow;
@import views.html.templates.components.styleEditorContent; 

@styleEditorContent()

<a class="trigger" id="triggerStyleManager"  href="#">Menu</a>
<div class="panel" id="panelStyleManager">
	<div class="row">
		<!-- style = Dialogr = jqueryui = no ember.action but onclicks... -->
		<div class="span2">{{textInput App.stylesData.selectedStyle.name id='styleNameInput'}}</div>
		<div class="span1 btn-small btn-primary" onclick="App.MapCreationController.openGeneration()">Continue</div>
		<div class="span1 btn-small btn-primary" onclick="App.MapCreationController.openDatasetSelection()">Back</div>
		<div class="span1 btn-small btn-primary" onclick="App.MapCreationController.openStyleSelection()">More</div>
	</div>
</div>

@selectStyleWindow()