/*-------------------------*/

.colorbarList {
	overflow: auto;
	height: 290px;
}

/*-------------------------*/

.selectable{
	margin-top: 5px;
}

.selectable:hover {
   outline: 3px solid
}

/*-------------------------*/

#cancelSelection {
	margin-top: -152px;
	margin-left: 126px;
}

#selectedColorbarArea {
	margin-top: 16px;
}

#selectedColorbarThumb {
	z-index: -1;
	position: relative;
}

#continueButton {
	margin-top: 60px;
}

/*-------------------------*/

#colorbarNameInput {
	width: 143px;
	margin-top: -2px;
}

#colorbar {
	z-index: 3 !important;
}

#saveColorbarButton {
	margin-left: 24px;
	width: 29px;
}