
#uploadContent {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 30px;
}

.uploadEntry{
	margin-bottom: 15px;
}

.datasetTitle {
	background-color: #eef;
}

/*------------------------------*/
.rasterParam {
	margin-bottom: 0px;
}

.rasterParamName {
	margin-top: 8px;
}

/*------------------------------*/
#rasterZoomSlider.ui-widget-content {
	color: #eee;
	border: 1px solid #ddd;
	background: #ddd;
	width: 50%;
	margin-left: 25%;
}