/*--------------------------------*/
#homeContent{
	padding: 0;
	z-index: 1;
}

.homeImage {
	width: 100%;
}

#mapnifyAuthFrame {
	width: 532px;
	height: 423px;
	border: 0px;
}

/*--------------------------------*/

#part1 {
	margin-top: 0px;
}

.homePart {
	background: #fff;
	margin-top: 600px;
}

/*--------------------------------*/

.imageBackContainer {
	position: fixed;
	visibility : hidden;
}

#imageBackContainer1 {
	z-index:-12;
	visibility : visible;
}

#imageBackContainer2 {
	z-index:-11;
}

#imageBackContainer3 {
	z-index:-10;
}

#imageBackContainer4 {
	z-index:-9;
}
	
#imageBackContainer5 {
	z-index:-8;
}
