/*---------------------------------------------------------------*/

#drawBoard {
	margin-bottom: -5px;
	margin-top: 67px;
}

/*---------------------------------------------------------------*/

.wizardStepper {
	margin-left: -137px;
	margin-top: -23px;
}

.wizardStepper h3 {
	line-height: 16px;
	font-size: 16px;
	color: #eee;
}

.wizardStepper h4 {
	line-height: 16px;
	font-size: 16px;
	color: #888;
}

/*---------------------------------------------------------------*/

#panelSettings {
	height: 400px;
	top: 67px;
	left: 0;
}

a#triggerSettings {
	left: 0;
	top: 67px;
}
/*------------------------------------------------------------*/
/* SETTINGS*/

#buttonDrawMode {
	position: absolute;
	text-decoration: none;
	right: 200px;
	top: 67px;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 4px 13px 4px 13px;
	font-weight: 700;
	background: #000;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
	z-index: 9999;
	filter: alpha(opacity =   85);
	opacity: .85;
}

#buttonDrawMode:hover {
	position: absolute;
	text-decoration: none;
	right: 200px;
	top: 67px;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 6px 13px 6px 13px;
	font-weight: 700;
	background: #000;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
	z-index: 9999;
	filter: alpha(opacity =   85);
	opacity: .85;
}

div.active#buttonDrawMode {
	padding: 6px 13px 6px 13px;
	filter: alpha(opacity =   85);
	opacity: .85;
}

#buttonMapMode {
	position: absolute;
	text-decoration: none;
	right: 240px;
	top: 67px;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 4px 13px 4px 13px;
	font-weight: 700;
	background: #000;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
	z-index: 9999;
	filter: alpha(opacity =   85);
	opacity: .85;
}

#buttonMapMode:hover {
	position: absolute;
	text-decoration: none;
	right: 240px;
	top: 67px;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 6px 13px 6px 13px;
	font-weight: 700;
	background: #000;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
	z-index: 9999;
	filter: alpha(opacity =   85);
	opacity: .85;
}

div.active#buttonMapMode {
	padding: 6px 13px 6px 13px;
	filter: alpha(opacity =   85);
	opacity: .85;
}