/*---------------------------------------------------------------*/

.wizardStepper {
	margin-left: -137px;
	margin-top: -23px;
}

.wizardStepper h3 {
	line-height: 16px;
	font-size: 16px;
	color: #eee;
}

.wizardStepper h4 {
	line-height: 16px;
	font-size: 16px;
	color: #888;
}

/*---------------------------------------------------------------*/

#panelLayers {
	width: 200px;
	color: #eee;
}

#addVectorLayerButton {
	margin-right: 111px;
	margin-top: -35px;
}

#addRasterLayerButton {
	margin-right: 48px;
	margin-top: -35px;
}

#imgButtonVector {
	margin-left: 55px;
}

#imgButtonRaster {
	margin-left: 15px;
}

/*----------------------------------------------------------

#panelSettings {
	height: 400px;
	top: 67px;
	left: 0;
}

a#triggerSettings {
	left: 0;
	top: 67px;
}
-----*/

/*------------------------------------------------------------*/
/* SETTINGS*/

#buttonReset {
	right: 100px;
	top: 36px;
}

#buttonDrawMode {
	right: 20px;
	top: 36px;
}

#buttonMapMode {
	right: 60px;
	top: 36px;
}

#buttonCenter {
	right: 100px;
	top: 36px;
}



