/*---------------------------------------------------------------*/

.wizardStepper {
	margin-left: -137px;
	margin-top: -23px;
}

.wizardStepper h3 {
	line-height: 16px;
	font-size: 16px;
	color: #eee;
}

.wizardStepper h4 {
	line-height: 16px;
	font-size: 16px;
	color: #888;
}

/*---------------------------------------------------------------*/

#panelSettings {
	height: 400px;
	top: 67px;
	left: 0;
}

a#triggerSettings {
	left: 0;
	top: 67px;
}
/*------------------------------------------------------------*/
/* SETTINGS*/

.buttonMode {
	position: absolute;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 4px 13px 4px 13px;
	font-weight: 700;
	background: #000;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	z-index: 9999;
	filter: alpha(opacity =   85);
	
}

.buttonMode:hover {
	padding: 6px 13px 6px 13px;
	color: #cdd;
}

div.active.buttonMode {
	padding: 6px 13px 6px 13px;
}
	
/*------------------------------------*/

#buttonReset {
	right: 160px;
	top: 67px;
}

#buttonDrawMode {
	right: 200px;
	top: 67px;
}

#buttonMapMode {
	right: 240px;
	top: 67px;
}

#buttonCenter {
	right: 300px;
	top: 67px;
}


