
@import views.html.templates.components.maperial; 

@maperial()

<div id="colorbarEditorManagement" class="hide">
	<a class="trigger" id="triggerColorbarManager"  href="#">Menu</a>
	<div class="panel" id="panelColorbarManager">
		{{#if user.waiting}}
			<div class="row">
				<div id="waitingDiv">WAITING</div>
			</div>
		{{else}}
			<div class="row">
				<div class="span2">{{textInput App.colorbarsData.selectedColorbar.name id='colorbarNameInput'}}</div>
				<div onclick="App.ColorbarEditorController.saveColorbar()" class="span1 btn-small btn-primary" id="saveColorbarButton">Save</div>
			</div>
		{{/if}}
	</div>
</div>