@import views.html.popups.loginWindow;
@import views.html.popups.videoWindow;

<div class="container-fluid" id="homeContent">

	<!-- ----------------------------------------------------------------------------- -->
	<!-- Content 																	   -->
	<!-- ----------------------------------------------------------------------------- -->

	<div class="marketing home-container">

		<!-- -------------------------------------------------------------- -->
		<!-- Top Image -->

		<div id="homeImage"></div>
		<img id="playImage" onclick="window.youtubeManager.openVideoWindow()" class="touchable" src="assets/images/home/part1/play.png"></img>

		<div class="row-fluid" id="part1">
			<h1 class="homeTitle">{{App.translations.messages.AwesomeMaps}}</h1>
			<p class="homeSubtitle">{{App.translations.messages.Everywhere}}</p>

		</div>

		<!-- -------------------------------------------------------------- -->
		<!-- Choose/Upload/Organize/Customize/Share -->

		<div class="row-fluid">

			<div class="span12">
				<div class="homepage_top">
					<div class="span2 offset1">
						<div id="widget_sp_image-2" class="widget widget_sp_image">
							<img src="assets/images/home/part1/choose.mini.png">
							<h4 class="title">{{App.translations.messages.Choose}}</h4>
							<div class="widget_sp_image-description">
								<p>
									{{App.translations.messages.chooseText1}} <a class="hint"> {{App.translations.messages.chooseText3}}</a> {{App.translations.messages.chooseText4}}
								</p>
							</div>
						</div>
					</div>
					<div class="span2">
						<div id="widget_sp_image-2" class="widget widget_sp_image">
							<img src="assets/images/home/part1/maperialize.mini.png">
							<h4 class="title">{{App.translations.messages.Upload}}</h4>
							<div class="widget_sp_image-description">
								<p>{{App.translations.messages.uploadText}}</p>
							</div>
						</div>
					</div>
					<div class="span2">
						<div id="widget_sp_image-3" class="widget widget_sp_image">
							<img src="assets/images/home/part1/layers.mini.png">
							<h4 class="title">{{App.translations.messages.Organize}}</h4>
							<div class="widget_sp_image-description">
								<p>{{App.translations.messages.organizeText}}</p>
							</div>
						</div>
					</div>
					<div class="span2">
						<div id="widget_sp_image-4" class="widget widget_sp_image">
							<img src="assets/images/home/part1/edit.mini.png">
							<h4 class="title">{{App.translations.messages.Customize}}</h4>
							<div class="widget_sp_image-description">
								<p>{{App.translations.messages.customizeText}}</p>
							</div>
						</div>
					</div>
					<div class="span2">
						<div id="widget_sp_image-5" class="widget widget_sp_image">
							<img src="assets/images/home/part1/people.mini.png">
							<h4 class="title">{{App.translations.messages.Share}}</h4>
							<div class="widget_sp_image-description">
								<p>{{App.translations.messages.shareText}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<div class="home-container gallery-container">
		<div class="home-description span6 offset3">
			<ul class="gallery clearfix">
				<li><a href="/assets/images/maperialscreens/fullscreen/1.png" rel="prettyPhoto[gallery2]"><img src="/assets/images/maperialscreens/thumbnails/t1.png" width="60" height="60" alt="" /></a></li>
				<li><a href="/assets/images/maperialscreens/fullscreen/2.png" rel="prettyPhoto[gallery2]"><img src="/assets/images/maperialscreens/thumbnails/t2.png" width="60" height="60" alt="" /></a></li>
				<li><a href="/assets/images/maperialscreens/fullscreen/3.png" rel="prettyPhoto[gallery2]"><img src="/assets/images/maperialscreens/thumbnails/t3.png" width="60" height="60" alt="" /></a></li>
				<li><a href="/assets/images/maperialscreens/fullscreen/4.png" rel="prettyPhoto[gallery2]"><img src="/assets/images/maperialscreens/thumbnails/t4.png" width="60" height="60" alt="" /></a></li>
				<li><a href="/assets/images/maperialscreens/fullscreen/5.png" rel="prettyPhoto[gallery2]"><img src="/assets/images/maperialscreens/thumbnails/t5.png" width="60" height="60" alt="" /></a></li>
				<li><a href="/assets/images/maperialscreens/fullscreen/6.png" rel="prettyPhoto[gallery2]"><img src="/assets/images/maperialscreens/thumbnails/t6.png" width="60" height="60" alt="" /></a></li>
			</ul>
		</div>

		<div onClick="window.location.href='http://maperial.com/more.html'" class="marketing btn-large btn-primary span2 offset1 touchable">{{App.translations.messages.FindOutMore}}</div>
	</div>

</div>


@loginWindow()
@videoWindow()
