@import views.html.popups.loginWindow;
@import views.html.popups.videoWindow;

<div class="container-fluid" id="homeContent">

	<div class="marketing">
		
		<div id="homeImage"></div>
		<img id="playImage" {{action showVideo}} class="touchable" src="@routes.Assets.at("images/home/part1/play.png")"></img>

		<div class="row-fluid" id="part1">
			<h1 class="homeTitle">Maperial</h1>
			<p class="homeSubtitle">Beautiful maps. Everywhere.</p>
			
		</div>

		<div class="row-fluid homePart" id="part2">
			<div class="row-fluid">
			
				<div class="span4 offset2">
					<img class="homeIcon" src="@routes.Assets.at("images/home/part1/clock.mini.png")">
					<h2>Quick and Easy</h2>
					<p> Detailled layer creation within clicks
						Generate quickly and store in the Cloud
						Easy to use and powerful style editor
						configure your maps interactivity to your specifics needs thanks to our intuitive UI</p>
				</div>
			
				<div class="span4">
					<img class="homeIcon" src="@routes.Assets.at("images/home/part1/maperialize.mini.png")">
					<h2>Maperialize your data</h2>
					<p> Unlimited layers, custom ordering and composition
						Upload your data : rasters, grids, vectors...
						Visualize, question, analyze, interpret, and understand your data with a suited rendering	</p>
				</div>
			
			</div>
			
			<div class="row-fluid">
				<div class="span4 offset2">
					<img class="homeIcon" src="@routes.Assets.at("images/home/part1/edit.mini.png")">
					<h2>Customize</h2>
					<p> Customize your maps, your exports
						Deep and Accurate edition	</p>
				</div>
			
				<div class="span4">
					<img class="homeIcon" src="@routes.Assets.at("images/home/part1/people.mini.png")">
					<h2>Share</h2>
					<p> Publish your maps on the web
						Export high quality images
						Interactive maps on your own domain
						Get your own "Map Library"	</p>
				</div>
			
			</div>
		</div>

	</div>
</div>


@loginWindow()
@videoWindow()
