@import views.html.popups.loginWindow;

<div id="imageBackContainer1" class="imageBackContainer">
	<img src="@routes.Assets.at("images/home/back3.png")" class="imageBack"></img>
</div>
<div id="imageBackContainer2" class="imageBackContainer">
	<img src="@routes.Assets.at("images/home/back2.png")" class="imageBack"></img>
</div>
<div id="imageBackContainer3" class="imageBackContainer">
	<img src="@routes.Assets.at("images/home/back4.png")" class="imageBack"></img>
</div>
<div id="imageBackContainer4" class="imageBackContainer">
	<img src="@routes.Assets.at("images/home/back1.jpg")" class="imageBack"></img>
</div>

 
<div class="container-fluid" id="homeContent">

	<div class="marketing">
		
		<div class="row-fluid homePart" id="part1">
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
		</div>

		<div class="row-fluid homePart" id="part2">
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>

			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
		</div>

		<div class="row-fluid homePart" id="part3">
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
				
			<div class="row-fluid">
				<div class="span4">
					<img src="@routes.Assets.at("images/global/logo.png")">
					<h2>As easy as EZ</h2>
					<p>
						Built at Twitter by <a href="http://twitter.com/mdo">mdo</a> and <a
							href="http://twitter.com/fat">fat</a>, Bootstrap utilizes <a
							href="http://lesscss.org">LESS CSS</a>, is compiled via <a
							href="http://nodejs.org">Node</a>, and is managed through <a
							href="http://github.com">GitHub</a> to help nerds do awesome
						stuff on the web.
					</p>
				</div>
				<div class="span4">
					<img src="@routes.Assets.at("images/global/logo.png")">
					<h2>Made for everyone.</h2>
					<p>
						Bootstrap was made to not only look and behave great in the latest
						desktop browsers (as well as IE7!), but in tablet and smartphone
						browsers via <a href="./scaffolding.html#responsive">responsive
							CSS</a> as well.
					</p>
				</div>
				<div class="span4">
					<img src="@routes.Assets.at("images/global/logo.png")">
					<h2>Packed with features.</h2>
					<p>
						A 12-column responsive <a href="./scaffolding.html#grid">grid</a>,
						dozens of components, <a href="./javascript.html">JavaScript
							plugins</a>, typography, form controls, and even a <a
							href="./customize.html">web-based Customizer</a> to make
						Bootstrap your own.
					</p>
				</div>
			</div>
			
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
		</div>

		<div class="row-fluid homePart" id="part4">
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
		</div>

		<div class="row-fluid homePart" id="part5">
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
			<h1>Introducing Mapnify.</h1>
			<p class="marketing-byline">Need reasons to love Mapnify? Look no
				further.</p>
		</div>


	</div>
</div>


@loginWindow()
