@import views.html.popups.demoSelectionWindow; 
@import views.html.popups.selectStyleWindow; 
@import views.html.popups.selectRasterWindow; 
@import views.html.popups.customizeLayerOSMWindow; 

<div id="_maperial"></div>

<!-- Custom for Layers  -->
<div class="panel panel-webapp panelLayers snapper hide" id="panelLayers_maperial">
	<div class="row-fluid marginbottom">
		<div class="span6 offset1 btn-small btn-primary" {{action openBasemaps}}>
			<i class="icon-plus icon-white"></i>
			Basemap
		</div>
		<div class="span4 btn-small btn-primary" {{action openData}}>
			<i class="icon-plus icon-white"></i>
			Data
		</div>
	</div>
	<div id="layers"></div>
	
	<div class="row-fluid">
		<div class="span6 offset5 btn-small btn-primary" {{action openSettings}}>
			Settings
			<i class="icon-arrow-right icon-white"></i>
		</div>
	</div>
</div>

<!-- Custom for Settings -->
<div class="panel panel-webapp panelSettings snapper hide" id="panelSettings_maperial">
	<div id="globalSettings">
		<div class="row-fluid marginbottom">
			{{#if App.Globals.isTryscreen}}
			{{else}}
			<div class="span1">{{textInput App.user.selectedMap.name id='mapNameInput'}}</div>
			{{/if}}
			<div class="span3 offset4 btn-small btn-danger" {{action backToLayers}}>Back</div>
			{{#if App.Globals.isTryscreen}}
			{{else}}
				<div class="span3 btn-small btn-primary" {{action saveMap}}>Save</div>
			{{/if}}
		</div>
		<div class="row-fluid marginbottom">
			<div class="span2 offset1" >Default Zoom</div>
			<div class="span5 offset2" id="zoomSelector"></div>
		</div>
		
		<div id="hudViewerSettings"></div>
	
		<div class="row-fluid">
			<div class="span7 offset3 btn-small btn-primary" {{action editBoundingBox}}>Bounding Box</div>
		</div>
	</div>
	
	<div id="boundingBoxSettings" class="hide">
		<div class="row-fluid marginbottom">
			<div class="span4 offset1 btn-small btn-danger" {{action cancelBoundingBox}}>Cancel</div>
			<div class="span3 offset4 btn-small btn-primary" {{action saveBoundingBox}}>Ok</div>
		</div>

		<form id="latLonForm">
			<div class="row-fluid marginbottom">
				<p class="compositionSettingsTitle">Latitude</p>
			</div>
			<div class="row-fluid marginbottom">
				<div class="span1">{{textInput App.user.selectedMap.config.map.latMin id='latMinInput' class='latlonInput'}}</div>
			</div>
			<div class="row-fluid marginbottom">
				<div class="span1">{{textInput App.user.selectedMap.config.map.latMax id='latMaxInput' class='latlonInput'}}</div>
			</div>
			<div class="row-fluid marginbottom">
				<p class="compositionSettingsTitle">Longitude</p>
			</div>
			<div class="row-fluid marginbottom">
				<div class="span1">{{textInput App.user.selectedMap.config.map.lonMin id='lonMinInput' class='latlonInput'}}</div>
			</div>
			<div class="row-fluid marginbottom">
				<div class="span1">{{textInput App.user.selectedMap.config.map.lonMax id='lonMaxInput' class='latlonInput'}}</div>
			</div>
		</form>
			
		<div class="row-fluid marginbottom">
			<div class="span3 offset5 btn-small btn-primary" {{action resetInputs}}><i class="icon-refresh icon-white"></i></div>
			<div class="span3 btn-small btn-primary" {{action useInputs}}><i class="icon-arrow-right icon-white"></i></div>
		</div>
		
		<div id="buttonCenter" class="buttonMode"><i class="icon-screenshot icon-white"></i></div>
		<div id="buttonMapMode" class="buttonMode"><i class="icon-ok icon-white"></i></div>
		<div id="buttonDrawMode" class="buttonMode"><i class="sprite-maperial maperial-shape-handles"></i></div>
	</div>
</div>


@demoSelectionWindow()
@selectStyleWindow()
@selectRasterWindow()
@customizeLayerOSMWindow()