

@import views.html.templates.components.styleEditorContent; 

@styleEditorContent()

<div id="styleEditorManagement" class="hide">
	<a class="trigger" id="triggerStyleManager"  href="#">Menu</a>
	<div class="panel" id="panelStyleManager">
		{{#if user.waiting}}
			<div class="row">
				<div id="waitingDiv">WAITING</div>
			</div>
		{{else}}
			<div class="row">
				<div class="span2">{{textInput App.stylesData.selectedStyle.name id='styleNameInput'}}</div>
				<div onclick="App.StyleEditorController.saveStyle()" class="span1 btn-small btn-primary" id="saveStyleButton">Save</div>
			</div>
		{{/if}}
	</div>
</div>

