
<canvas id="map" style="border: none;"></canvas>

<div id="style" title="Style" class="popup hide">
	<div class="row">
		<div class="span2"><input id="styleNameInput" type="text"/></div>
		<div class="span1">
	    	<form id="styleupload" action="//map.x-ray.fr/server//" method="POST" enctype="multipart/form-data">
				<div {{click 'StyleEditorController.saveStyle()'}} id="saveStyleButton" class="btn-small btn-primary">Save</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="span2"><p>Ici StyleEditor de Vivien</p></div>
	</div>
</div>


