
<div class="container-fluid">

  <div class="marketing">
		<h1>Test 1</h1>
   		<p class="marketing-byline">style</p>
		<hr class="soften">
		
		
		<div id="mainContainer">
		
			<canvas id="testMap"></canvas>
			<div id="mapnifyMenu"></div>
			<div id="mapnifyColorBar"></div>
			<!--<div id="mapnifyColorBar2"></div>-->
		
			<div id="testtest" title="Pour tester">
				<h2> Just some test </h2>
				<label for="spinnermin">change min val:</label>
				<input id="spinnermin" name="value" /><br>
				<label for="spinnermax">change max val:</label>
				<input id="spinnermax" name="value" /><br>
				<label for="spinnerw">change w:</label>
				<input id="spinnerw" name="value" /><br>
				<label for="spinnerh">change h:</label>
				<input id="spinnerh" name="value" /><br>
			</div>
		
		</div>

		
		
	</div>
</div>


