
<div class="container-fluid" id="homeContent">

	<!-- ----------------------------------------------------------------------------- -->
	<!-- Content 																	   -->
	<!-- ----------------------------------------------------------------------------- -->

	<div class="marketing home-container">

		<!-- -------------------------------------------------------------- -->
		<!-- Top Image --> 

		<div class="row-fluid touchable" id="partChrome" onclick="window.open('http://www.google.fr/intl/fr/chrome/browser/','_blank')">
			<h1>{{App.translations.messages.WorksOnChrome}}</h1>
			<p>{{App.translations.messages.DownloadNow}}</p>
			<img src="http://static.maperial.localhost/images/global/chrome.jpg"></img>
		</div>
	</div>

</div>