<!-- ------------------------------------------------------------------- -->

@import views.html.templates.header;
@import views.html.templates.pageTemplate;

@import views.html.templates.pages.home;
@import views.html.templates.pages.dashboard.dashboard;
@import views.html.templates.pages.tryscreen;

@import views.html.templates.pages.mapCreation;
@import views.html.templates.pages.styleEditor;
@import views.html.templates.pages.colorbarEditor;
@import views.html.templates.pages.datasetEditor;
@import views.html.templates.pages.fontsEditor;
@import views.html.templates.pages.iconsEditor;

@import views.html.templates.pages.test1;
@import views.html.templates.pages.test2;

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="application">
	{{outlet}}
</script>

<!-- ------------------------------------------------------------------- -->

@pageTemplate("home"){@home()}
@pageTemplate("dashboard", false){@dashboard()}
@pageTemplate("tryscreen", false){@tryscreen())}
@pageTemplate("mapCreation"){@mapCreation()}
@pageTemplate("styleEditor"){@styleEditor()}
@pageTemplate("colorbarEditor"){@colorbarEditor()}
@pageTemplate("datasetEditor"){@datasetEditor()}
@pageTemplate("fontsEditor"){@fontsEditor()}
@pageTemplate("iconsEditor"){@iconsEditor()}

@pageTemplate("test1"){@test1()}
@pageTemplate("test2"){@test2()}

<!-- ------------------------------------------------------------------- -->