<!-- ------------------------------------------------------------------- -->

@import views.html.templates.header;

@import views.html.templates.pages.home;
@import views.html.templates.pages.dashboard;
@import views.html.templates.pages.tryscreen;

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="application">
	@header()
	{{outlet}}
</script>

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="home">
	@home()
</script>

<script type="text/x-handlebars" data-template-name="dashboard">
	@dashboard()
</script>

<script type="text/x-handlebars" data-template-name="tryscreen">
	@tryscreen()
</script>

<!-- ------------------------------------------------------------------- -->