@(defaultHeader:Boolean)

<div id="header">
	<div {{action openHome}} class="span1 pointerCursor">
		<img id="logoHeader" src="@routes.Assets.at("images/global/logo.png")"/>
	</div>
	<div {{action openHome}} class="span1 pointerCursor">
		<h1>@Messages("applicationName")</h1>
	</div>
</div>

@if(defaultHeader){
	{{#if user.loggedIn}}
		{{#if user.waiting}}
			<div id="waitingDiv">WAITING</div>
		{{else}}
			<div {{action openDashboard}} class="btn-large btn-primary headerButton">Dashboard</div>
			<div id="userDisplay" class="googleUser">{{user.email}}</div>
		{{/if}}
	{{else}}
		<div {{action openTryscreen}} id="tryButton" class="btn-large btn-primary headerButton">Try</div>
		<div id="signinButton" {{action openLoginWindow}} class="btn-large btn-primary">Sign in</div>
	{{/if}}
}

