@(defaultHeader:Boolean = true)

<div id="header" class="snapper">
	<div {{action openHome}} class="span1 pointerCursor">
		<img id="logoHeader" src="@routes.Assets.at("images/global/logo.png")"/>
	</div>
	<div {{action openHome}} class="span1 pointerCursor">
		<h1>@Messages("applicationName")</h1>
	</div>
</div>

@if(defaultHeader){
	{{#if user.loggedIn}}
		<div class="headerTitle">
		{{bound_equals App.Globals.currentPage value='dashboard'
			yes='<h1>Dashboard</h1><p class="marketing-byline">Welcome home, capt&apos;n !</p>'
	   	 	no=''
	   	}}

		{{bound_equals App.Globals.currentPage value='styles'
			yes='<h1>Styles</h1><p class="marketing-byline">Beautiful maps !</p>'
	   	 	no=''
	   	}}

		{{bound_equals App.Globals.currentPage value='colorbars'
			yes='<h1>Colorbars</h1><p class="marketing-byline">Beautiful data !</p>'
	   	 	no=''
	   	}}

		{{bound_equals App.Globals.currentPage value='datasets'
			yes='<h1>Datasets</h1><p class="marketing-byline">Upload your data</p>'
	   	 	no=''
	   	}}
		
		{{#if user.selectedMap}}
			{{#if user.isCreatingANewMap}}
				<h1>New Map</h1>
			{{else}}
				<h1>{{user.selectedMap.name}}</h1>
			{{/if}}
			<div class="wizardStepper">
				<div class="span2">
					{{#if App.Globals.isViewLayerCreation}}
					<h3>1 - Build the layers</h3>
					{{else}}
					<h4>1 - Build the layers</h4>
					{{/if}}
				</div>
				<div class="span2">
					{{#if App.Globals.isViewSettings}}
					<h3>2 - Settings</h3>
					{{else}}
					<h4>2 - Settings</h4>
					{{/if}}
				</div>
			</div>
		{{/if}}

		{{bound_equals App.Globals.currentPage value='styleEditor'
			yes='<h1>Style Editor</h1><p class="marketing-byline">Design your style</p>'
	   	 	no=''
	   	}}

		{{bound_equals App.Globals.currentPage value='colorbarEditor'
			yes='<h1>Colorbar Editor</h1><p class="marketing-byline">Design your data</p>'
	   	 	no=''
	   	}}
		</div>

		{{#if user.waiting}}
			<img class="headerButton" src="@routes.Assets.at("images/mapediting/spin.white.gif")" width="25px"/>
		{{else}}
	        <button {{action openDashboard}} class="btn-small btn-success headerButton">
	            <i class="icon-th-large icon-white"></i>
	        </button>
		{{/if}}
		<div id="userDisplay" class="googleUser">{{user.email}}</div>
	{{else}}
		<div {{action openTryscreen}} id="tryButton" class="btn-large btn-primary">@Messages("try")</div>
		<!-- <div id="signinButton" {{action openLoginWindow}} class="btn-large btn-primary">Sign in</div> -->
		<div id="signinButton" onClick="MaperialAuth.dummy()" class="btn-large btn-primary">Log in</div>
	{{/if}}
}

