@()

	<div id="footerHome" class="snapper">
		<div class="row-fluid">
			<div class="span2 offset3 footerContent">
				<div class="footerTitle">Plans</div>
				<div class="link">Ploumqwe qwed qwe</div>
				<div class="link">Ploumqwe qwed qwe</div>
				<div class="link">Ploumqwe qwed qwe</div>
				<div class="link">Ploumqwe qwed qwe</div>
			</div>
			<div class="span2 footerContent">
				<div class="footerTitle">Maps</div>
				<div class="link" onClick="window.location.href='http://maperial.com/pages/demos/demo.tag.html'">Paris roads</div>
				<div class="link" onClick="window.location.href='http://maperial.com/pages/demos/demo.cartotheque.html'">Maperial Library</div>
			</div>
			<div class="span2 footerContent">
				<div class="footerTitle">Recent blog posts</div>
				<div class="link">Ploumqwe qwed qwe</div>
				<div class="link">Ploumqwe qwed qwe</div>
				<div class="link">Ploumqwe qwed qwe</div>
				<div class="link">Ploumqwe qwed qwe</div>
			</div>
		</div>
		<div class="footerEnd">&copy; 2013 Maperial contact : {{email d}}</div>

	</div>
