@()

<div id="footer" class="snapper">
	<div class="row-fluid">
		<div class="span2 offset3 footerContent">
			<div class="footerTitle">Plans</div>
			<div>Ploumqwe qwed qwe</div>
			<div>Ploumqwe qwed qwe</div>
			<div>Ploumqwe qwed qwe</div>
			<div>Ploumqwe qwed qwe</div>
		</div>
		<div class="span2 footerContent">
			<div class="footerTitle">Maps</div>
			<div>Ploumqwe qwed qwe</div>
			<div>Ploumqwe qwed qwe</div>
			<div>Ploumqwe qwed qwe</div>
			<div>Ploumqwe qwed qwe</div>
		</div>
		<div class="span2 footerContent">
			<div class="footerTitle">Recent blog posts</div>
			<div>Ploumqwe qwed qwe</div>
			<div>Ploumqwe qwed qwe</div>
			<div>Ploumqwe qwed qwe</div>
			<div>Ploumqwe qwed qwe</div>
		</div>
	</div>
  	<div class="footerEnd">&copy; 2013 @Messages("applicationName")    contact : {{App.Globals.maperialEmail}}</div>
  	 
</div>
