@(templateName:String, specialFooter:Boolean = false)(content:Html)

@import views.html.templates.components.header;
@import views.html.templates.components.footer;
@import views.html.templates.components.homefooter;

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="@templateName">
	@header()

	@content

	@if(specialFooter){
		@homefooter()
	}else{
		@footer()
	}
	
</script>

<!-- ------------------------------------------------------------------- -->