@(templateName:String, specialFooter:Boolean = false)(content:Html)

@import views.html.templates.components.header;
@import views.html.templates.components.footerBig;
@import views.html.templates.components.footerSmall;

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="@templateName">
	@header()

	@content

	@if(specialFooter){
		@footerBig()
	}else{
	}
	
</script>

<!-- ------------------------------------------------------------------- -->