<!-- ------------------------------------------------------------------- -->

@import views.html.templates.header;
@import views.html.templates.pageTemplate;
@import views.html.templates.componentTemplate;

<!-- Pages -->

@import views.html.templates.pages.home;
@import views.html.templates.pages.dashboard.dashboard;
@import views.html.templates.pages.tryscreen;

@import views.html.templates.pages.mapcreation.mapCreation;
@import views.html.templates.pages.styles;
@import views.html.templates.pages.colorbars;
@import views.html.templates.pages.datasets;
@import views.html.templates.pages.fonts;
@import views.html.templates.pages.icons;

@import views.html.templates.pages.styleEditor;
@import views.html.templates.pages.colorbarEditor;

<!-- Components -->

@import views.html.templates.components.styleList;
@import views.html.templates.components.colorbarList;

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="application">
	{{outlet}}
</script>

<!-- ------------------------------------------------------------------- -->

<!-- --- Pages --- -->
@pageTemplate("home"){@home()}
@pageTemplate("dashboard"){@dashboard()}
@pageTemplate("tryscreen"){@tryscreen()}
@pageTemplate("mapCreation"){@mapCreation()}
@pageTemplate("styles"){@styles()}
@pageTemplate("colorbars"){@colorbars()}
@pageTemplate("datasets"){@datasets()}
@pageTemplate("fonts"){@fonts()}
@pageTemplate("icons"){@icons()}

@pageTemplate("styleEditor"){@styleEditor()}
@pageTemplate("colorbarEditor"){@colorbarEditor()}

<!-- --- Components --- -->

@componentTemplate("styleList"){@styleList()}
@componentTemplate("colorbarList"){@colorbarList()}


<!-- ------------------------------------------------------------------- -->