<!-- ------------------------------------------------------------------- -->

@import views.html.templates.header;
@import views.html.templates.pageTemplate;
@import views.html.templates.componentTemplate;

<!-- Pages -->

@import views.html.templates.pages.home;
@import views.html.templates.pages.dashboard.dashboard;
@import views.html.templates.pages.tryscreen;

@import views.html.templates.pages.mapCreation;
@import views.html.templates.pages.styles;
@import views.html.templates.pages.colorbars;
@import views.html.templates.pages.datasets;
@import views.html.templates.pages.fonts;
@import views.html.templates.pages.icons;

@import views.html.templates.pages.styleEditor;

@import views.html.templates.pages.test1;
@import views.html.templates.pages.test2;

<!-- Components -->

@import views.html.templates.components.styleList;

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="application">
	{{outlet}}
</script>

<!-- ------------------------------------------------------------------- -->

<!-- Pages -->
@pageTemplate("home"){@home()}
@pageTemplate("dashboard", false){@dashboard()}
@pageTemplate("tryscreen", false){@tryscreen())}
@pageTemplate("mapCreation"){@mapCreation()}
@pageTemplate("styles"){@styles()}
@pageTemplate("colorbars"){@colorbars()}
@pageTemplate("datasets"){@datasets()}
@pageTemplate("fonts"){@fonts()}
@pageTemplate("icons"){@icons()}

@pageTemplate("styleEditor"){@styleEditor()}

@pageTemplate("test1"){@test1()}
@pageTemplate("test2"){@test2()}

<!-- Components -->

@componentTemplate("styleList"){@styleList()}

<!-- ------------------------------------------------------------------- -->