//--------------------------------//

/*
	These 2 lines are the fallback for any browser that doesn't do gradients. See notes for stacking images only IE < 9 below.
	
	Line 1 sets a flat background color.
	Line 2 sets the background image fallback.
	The rest set a background image and gradient for specific browsers.
	
	Line 3 is for old webkit browsers.
	Line 4 is for newer webkit browsers.
	Line 5 is for Firefox 3.6 and up.
	Line 6 is for Internet Explorer 10.
	Line 7 is for Opera 11.10 and up.
	Line 8 is what one day all the browsers will hopefully use.
*/
#header{
	background: #000000;
	//background-image: url(IMAGE_URL); /* fallback */
	background-image:  -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000)); /* Saf4+, Chrome */
	background-image:  -webkit-linear-gradient(top, #444444, #000000); /* Chrome 10+, Saf5.1+ */
	background-image:  -moz-linear-gradient(top, #444444, #000000); /* FF3.6+ */
	background-image:  -ms-linear-gradient(top, #444444, #000000); /* IE10 */
	background-image:  -o-linear-gradient(top, #444444, #000000); /* Opera 11.10+ */
	background-image:  linear-gradient(top, #444444, #000000);
	height: 90px;
}

#header h1{
  color: #eee;
  margin-top: 14px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}

#logoHeader{
	margin-top: 14px;
}

#signinButton {
	margin-top: -68px;
	float: right;
	margin-right: 23px;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

.headerButton {
	margin-top: -68px;
	float: right;
	margin-right: 45%;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

.googleUser {
	margin-top: -61px;
	float: right;
	margin-right: 23px;
	color: #bbb;
	margin-top: -60px;
	background: url(../../images/global/arrow_down.png) no-repeat right 8px;
	cursor: pointer;
	padding-right: 15px;
}

//--------------------------------//