#header h1 {
	color: #eee;
	margin-top: 7px;
	font-size: 45px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}

#logoHeader {
	margin-top: 2px;
	width: 100%;
}

/*--------------------------------*/
.headerTitle {
	z-index: 2;
	position: fixed;
	color: #fff;
	margin-left: 47%;
	margin-top: 20px;
}

.headerTitle h1 {
	font-size: 28px;
	font-weight: normal;
	color: #eee;
	margin-top: -18px;
}

.headerTitle p {
	padding-left: 3px;
	font-size: 17px;
	color: #666666;
	margin-top: -13px;
}

/*--------------------------------*/
#signinButton {
	margin-top: 10px;
	margin-left: 80%;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
	position: fixed;
	z-index: 2;
}

#tryButton {
	margin-top: 10px;
	margin-left: 19%;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
	position: fixed;
	z-index: 2;
}

.headerButton {
	margin-top: 19px;
	margin-left: 80%;
	cursor: pointer;
	cursor: hand;
	position: fixed;
	z-index: 2;
}

.googleUser {
	margin-top: 21px;
	margin-left: 84%;
	color: #bbb;
	background: url(../images/global/arrow_down.png) no-repeat right 8px;
	cursor: pointer;
	position: fixed;
	padding-right: 15px;
	z-index: 2;
}

#waitingSpin {
	z-index: 999;
	position: fixed;
	margin-left: 47%;
	margin-top: 155px;
}

/*--------------------------------------------------*/
/* Override jquery-ui theme */

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
	border: 1px solid #000;
	background: #eee;
	color: #111;
}

.ui-widget-content a {
	color: #111;
}

.ui-widget-header {
	background: #444;	
}

/*--------------------------------------------------*/

#body{
	user-select: none;
	-webkit-user-select: none;
}

.closer {
	float: right;
}

/*--------------------------------------------------*/

#drawBoardContainer{
	position: absolute;
}

/*--------------------------------------------------*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    background: rgba(255,255,255,1); 
    border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: rgba(0,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}