@import views.html.templates.components.databox;
@import views.html.templates.pages.dashboard.datasets;
@import views.html.templates.pages.dashboard.styles;

<div id="userDisplay" class="googleUser">{{user.email}}</div>

<div class="container-fluid">

  <div class="marketing">
		<h1>Dashboard</h1>
   		<p class="marketing-byline">All your data is here</p>
		
		<hr class="soften">
		<div class="row-fluid">
			<div class="span2">
				<h3>Partie tests, ˆ virer</h3>
			</div>
			<div class="span2">
				<div onclick="window.Webapp.StylesController.continueStyleEdition()" class="btn-large btn-primary headerButton">Test 1</div>
			</div>
			<div class="span2">
				<div {{action styles}} class="btn-large btn-primary headerButton">Test 2</div>
			</div>
		</div>
		
		<hr class="soften">
		
		<div class="row-fluid">
			@databox("Your maps", "newMap"){ }
			@databox("Your styles", "styles"){ @styles() }
		</div>
		
		<div class="row-fluid">
			@databox("Your colorbars", "colorbars"){ }
			@databox("Your datasets", "datasets"){ @datasets() }
		</div>

		<div class="row-fluid">
			@databox("Your icons", "icons"){ }
			@databox("Your fonts", "fonts"){ }
		</div>
		
	</div>
</div>


