@import views.html.templates.components.databox;
@import views.html.templates.pages.dashboard.datasets;
@import views.html.templates.pages.dashboard.styles;
@import views.html.templates.pages.dashboard.maps;
@import views.html.templates.pages.dashboard.colorbars;

<div id="userDisplay" class="googleUser">{{user.email}}</div>

<div class="container-fluid">

  <div class="page marketing">
		
		<div class="row-fluid">
			@databox("Your maps", "createMap"){ @maps() }
			@databox("Your datasets", "datasets"){ @datasets() }
		</div>
		
		<div class="row-fluid">
			@databox("Your styles", "styles"){ @styles() }
			@databox("Your colorbars", "colorbars"){ @colorbars() }
		</div>

		<!-- 
		<div class="row-fluid">
			@databox("Your icons", "icons"){ }
			@databox("Your fonts", "fonts"){ }
		</div>
		 -->
	</div>
</div>


