@()

	<!-- -------------------------------------------------------------- -->
	<!-- Footer -->

	<div id="footerHome" class="snapper">
		<div class="container">
			<div class="row-fluid">
				<div class="span3 offset1 footerContent">
					<div class="footerTitle">{{App.translations.messages.AboutUs}}</div>
					<div class="link" {{action openTeam}}>{{App.translations.messages.Team}}</div>
					<div class="link" {{action openBlog}}>{{App.translations.messages.Blog}}</div>
					<div class="link" {{action openAllNews}}>News</div>
					<div class="link" {{action openJobs}}>{{App.translations.messages.Jobs}}</div>
					<div class="link" {{action openCredits}}>{{App.translations.messages.Credits}}</div>
				</div>
				<div class="span3 footerContent">
					<div class="footerTitle">Maperial</div>
					<div class="link" {{action openPresentation}}>{{App.translations.messages.Presentation}}</div>
					<div class="link" {{action openFeatures}}>{{App.translations.messages.Features}}</div>
					<div class="link" onClick="window.location.href='/demos'">{{App.translations.messages.Demos}}</div>
					<div class="link" {{action openScreenshots}}>{{App.translations.messages.Screenshots}}</div>
					<div class="link" {{action openPrices}}>{{App.translations.messages.Prices}}</div>
				</div>
				<div class="span2 footerContent">
					<div class="SocialIconsWidget">
						<ul class="widget_socials">
							<li><a class="rss touchable" {{action openBlog}}></a></li>
							<li><a href="https://twitter.com/maperial" class="twitter touchable" target="_blank"></a></li>
							<li><a href="https://plus.google.com/112607508051344203881/posts" class="googleplus touchable" target="_blank"></a></li>
							<li><a href="mailto:{{email name='maperial'}}" class="mail touchable"></a></li>
							<li><a href="http://www.linkedin.com/company/maperial" class="linkedin touchable" target="_blank"></a></li>
							<li><a href="http://www.slideshare.net/Maperial/" class="slideshare touchable" target="_blank"></a></li>
							<li><a href="http://pinterest.com/maperial/" class="pinterest touchable" target="_blank"></a></li>
							<li><a href="https://angel.co/maperial" class="angellist touchable" target="_blank"></a></li>
							<!-- <li><a href="https://github.com/Maperial" class="github" target="_blank"></a></li> -->
						</ul>
					</div>
				</div>
				<div class="span2 footerContent">
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="link">&copy; 2013 Maperial</div>
				</div>
			</div>
		</div>
	</div>
