<div id="maperial">

	<canvas id="map"></canvas>
	<canvas id="dummyTilesCanvas" class="hide"></canvas>

	<!-- common triggers -->

	<a class="trigger snapper hide" id="triggerHUDSettings" href="#"><i id="iconHUDSettings" class="icon-cog icon-white"></i></a>
	<div class="panel snapper hide" id="panelHUDSettings">
		<div id="HUDSettings"></div>
	</div>

	<div class="panel snapper hide" id="panelLatLon">
		<div id="latlondiv" class="row-fluid">
			<div id="latitudeDiv" class="span6"></div>
			<div id="longitudeDiv" class="span6"></div>
		</div>
	</div>

	<div class="panel snapper hide" id="panelScale">
		<div id="scalediv">
			<div id="metersContainer" class="scaleContainer"></div>
			<div id="milesContainer"  class="scaleContainer"></div>
		</div>
	</div>

	<div class="panel snapper hide" id="panelMapKey">
		<div id="mapkeydiv">
			<img src="@routes.Assets.at("images/global/dummy.legend.png")"></img>
		</div>
	</div>

	<div class="panel snapper hide" id="panelGeoloc">
		<div id="geolocdiv" class="row-fluid">
			<div class="span9">
		   		<input type="text" id="GeoLoc" name="GeotLoc">
		   	</div>
			<div class="span2 offset1">
			   <div id="GeoLocGo" class="btn-small btn-primary"><i class="icon-arrow-right icon-white"></i></div>
		   	</div>
		</div>
	</div>

	<!-- styleEditor default triggers -->
	<a class="trigger snapper hide" id="triggerDetailsMenu" href="#">Details</a>
	<div class="panel snapper hide" id="panelDetailsMenu">
		<div id="detailsMenu"></div>
	</div>
	
	<a class="trigger snapper hide" id="triggerQuickEdit" href="#">Quick Edit</a>
	<div class="panel snapper hide" id="panelQuickEdit">
		<div id="quickEdit"></div>
	</div>
	
	<a class="trigger snapper hide" id="triggerZooms" href="#">Zooms</a>
	<div class="panel snapper hide" id="panelZooms">
		<div id="zooms"></div>
	</div>
	
	<a class="trigger snapper hide" id="triggerMagnifier" href="#">Magnifier</a>
	<div class="panel snapper hide" id="panelMagnifier">
		<canvas id="magnifier" width="200" height="200"></canvas>
	</div>

	<!-- corlorbarEditor default triggers -->

	<a class="trigger snapper hide" id="triggerColorBar"  href="#">ColorBar</a>
		<div class="panel snapper hide" id="panelColorBar">
	  <div id="colorbarMenu"></div>
	</div>

</div>


