		
{{#each dataset in user.datasets}}
	{{#with dataset}}
		{{#if onError}}
		{{else}}
			{{#if hasNoRaster}}
			{{else}}
				<div class="row-fluid datasetTitle">
					<div class="span3 name">
						<p class="datasetFileName">{{name}}</p>
					</div>
					<div class="span1 size">
						<span>{{fileSize size}}</span>
					</div>
					<div class="span1">
						<span>{{separator}}</span>
					</div>
					<div class="span1">
						<span>{{formatDate uploadTime}}</span>
					</div>
				</div>
				
				{{#each raster in dataset.rasters}}
					{{#with raster}}
						<div class="row-fluid">
						{{#if onError}}
							<div class="span2 offset2">
								<span class="label label-important">Raster Error</span>
							</div>
							<div class="span4">
								<span>{{error}}</span>
							</div>
						{{else}}
							<div class="span3 offset2 name">
								<p class="filename">{{name}}</p>
							</div>
							{{#if interpolating}}
								{{progressBar percentage span="span3"}}
								<div class="span1">
									<img src="@routes.Assets.at("images/mapediting/spin.gif")" width="30px"/>
								</div>
							{{else}}
								<div class="span1">
									<span>{{formatDate creationTime}}</span>
								</div>
								<button class="btn-small btn-success">
									<i class="icon-arrow-right icon-white"></i>
								</button>
							{{/if}}
						{{/if}}
						</div>
					{{/with}}
				{{/each}} 
			{{/if}}
		{{/if}}
	{{/with}}
{{/each}} 
		
		
<br /> <br />