@(name:String, action:String, varName:String)

<div class="rasterParam span6">
	<div class="rasterParamName span2 offset3">@name :</div>
	   <ul class="nav nav-pills span4">
	     <li class="dropdown">
	       <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{{datasetsData.rasterBeingConfigured.@varName}} <b class="caret"></b></a>
	       <ul class="dropdown-menu" role="menu">
			{{#each selectedColumn in datasetsData.selectedDataset.header}}
				<li role="presentation"><a role="menuitem" tabindex="-1" @action>{{selectedColumn}}</a></li>
			{{/each}}
	       </ul>
	     </li>
	   </ul>
</div>