
	
<div class="span7">
    	
    	<!--  -------------       Header      ---------------- -->
	    <br/>
	    <div class="row">
	        <div class="span3">
				{{#isCurrentView myStyles}}
					<h1>My styles</h1>
				{{/isCurrentView}}
				
				{{#isCurrentView publicStyles}}
					<h1>Public styles</h1>
				{{/isCurrentView}}
            </div>
	        <div class="span2 offset1">
				{{#isCurrentView myStyles}}
					<div class="btn-small btn-primary" {{action showPublicStyles}}>Show public styles</div>
				{{/isCurrentView}}
				
				{{#isCurrentView publicStyles}}
					<div class="btn-small btn-primary" {{action showMyStyles}}>Show my styles</div>
				{{/isCurrentView}}
            </div>
	    </div>
		<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark" data-dismiss="modal">
			<i class="icon icon-ex-white-outline"></i>
		</a>
  
    	<!--  -------------       Content      ---------------- -->
    	
		<table role="presentation" class="table table-striped">
		  	<tbody class="files">
				{{#each style in styles}}
				  <tr class="template-download">
				      <td class="name"><p class="filename">{{style.name}}</p></td>
				  </tr>
				{{/each}}
			</tbody>
		</table>
</div>
	
	

