
	
<div>
    	
   	<!--  -------------       Header      ---------------- -->
    
    <br/>
    <div class="row-fluid marginbottom">
		<br/>
        <div class="span3">
			{{#equals App.Globals.currentView value='myStyles'}}
				<p class="popupTitle">My styles</p>
			{{else}}			
				<p class="popupTitle">Public styles</p>
			{{/equals}}
        </div>
        <div class="span3 offset5">
			{{#equals App.Globals.currentView value='myStyles'}}
				<div class="btn-small btn-primary" {{action showPublicStyles}}>Show public styles</div>
			{{else}}			
				<div class="btn-small btn-primary" {{action showMyStyles}}>Show my styles</div>
			{{/equals}}
        </div>
    </div>
	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark" data-dismiss="modal">
		<i class="icon icon-ex-white-outline"></i>
	</a>
 
   	<!--  -------------       Content      ---------------- -->
   	
   	<div class="row-fluid hugemarginbottom styleList">
		{{#each style in styles}}
			{{#with style}}
				<div {{action selectStyle this}} class="row-fluid marginbottom">
				    <div class="span2 name"><p class="filename">{{name}}</p></div>
				   	<a class="offset3">{{stylethumb uid}}</a>
				</div>
			{{/with}}
		{{/each}}
	</div>
	
    <div id="selectedStyleArea" class="row-fluid marginbottom">
	    {{isset stylesData.selectedStyle
	      yes='<div class="span6">
	      			<img id="selectedStyleThumb" src="{Utils.styleThumbURL(App.stylesData.selectedStyle.uid, "m")}"></img>
					<a id="cancelSelection" class="btn btn-rounded btn-icon-only btn-dark" onclick="App.StylesController.cancelSelectedStyle()">
						<i class="icon icon-ex-white-outline"></i>
					</a>
	      	   </div>
	      	   <div id="continueButton" class="span3 btn-large btn-primary" onclick="App.StylesController.changeStyle()">Continue</div>'
	      no='<h4 class="offset4">(Select a style)</h4>'}}
	</div>

	<br/>
	
</div>
	
	

