
	
	Plop
{{#isCurrentView myStyles}}
	My styles
	<div class="btn-large btn-primary" {{action showPublicStyles}}>Show public styles</div>
{{/isCurrentView}}

{{#isCurrentView publicStyles}}
	Public styles
	<div class="btn-large btn-primary" {{action showMyStyles}}>Show my styles</div>
{{/isCurrentView}}

<table role="presentation" class="table table-striped">
  	<tbody class="files">
		{{#each style in styles}}
		  <tr class="template-download">
		      <td class="name"><p class="filename">{{style.name}}</p></td>
		  </tr>
		{{/each}}
	</tbody>
</table>
