/*--------------------------------*/
#homeContent {
	padding: 0;
	z-index: 1;
}

#maperialAuthFrame {
	width: 532px;
	height: 423px;
	border: 0px;
}

#homeImage {
	background: url('../../images/home/part1/worldmap.mini.jpg');
	background-repeat: repeat-x;
	background-position-x: 0px;
	height: 350px;
}

#videoWindow {
	width: 843px;
	height: 480px;
}

/*--------------------------------*/
#playImage {
	margin-top: -245px;
}

#part1 {
	margin-top: -50px;
}

/*--------------------------------*/
.homeIcon {
	margin-top: 30px!important;
	margin-bottom: 30px!important;
}

.homeTitle {
	color: #fff;
	font-size: 19px;
	margin-bottom: 14px;
}

.homeSubtitle {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.25;
	color: #fff;
}
