/*---------------------------------------------------------------*/

#panelStyleEditorMenu {
	height: 30px;
	width: 270px;
	padding-left: 20px;
	padding-right: 20px;
}

/*---------------------------------------------------------------*/

#styleNameInput {
	width: 190px;
}
	

#style {
	z-index: 3 !important;
}


/*-------------------------*/

#panelColorbarManager {
	top: 67px;
	left: 0; 
}

