@import views.html.templates.pages.website.news.new1; 
@import views.html.templates.pages.website.news.new2; 
@import views.html.templates.pages.website.news.new3; 
@import views.html.templates.pages.website.news.new4; 
@import views.html.templates.pages.website.news.new5; 
@import views.html.templates.pages.website.news.new6; 

<div class="marketing container home-container websiteContent hugemarginbottom">
	<h1 class="hugemarginbottom">News</h1>
	
	@new6()
	@new5()
	@new4()
	@new3()
	@new2()
	@new1()
</div>