@import views.html.templates.pages.website.news.new1; 
@import views.html.templates.pages.website.news.new2; 
@import views.html.templates.pages.website.news.new3; 
@import views.html.templates.pages.website.news.new4; 
@import views.html.templates.pages.website.news.new5; 
@import views.html.templates.pages.website.news.new6; 
@import views.html.templates.pages.website.news.new7; 
@import views.html.templates.pages.website.news.new8; 

<div class="marketing container home-container websiteContent hugemarginbottom">
	<h1 class="hugemarginbottom">News</h1>
	
	@new8(false)
	@new7(false)
	@new6(false)
	@new5(false)
	@new4(false)
	@new3(false)
	@new2(false)
	@new1(false)
</div>