
<div class="marketing home-container websiteContent hugemarginbottom">
	<h1 class="hugemarginbottom">{{App.translations.messages.CreditsTitle}}</h1>
	<ul class="gallery hugemarginbottom">
		<li><a href="http://emberjs.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/ember.png'}}"/></a></li>
		<li><a href="http://jquery.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/jquery.png'}}"/></a></li>
		<li><a href="http://twitter.github.io/bootstrap/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/bootstrap.jpg'}}"/></a></li>
		<li><a href="http://www.playframework.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/play.png'}}"/></a></li>
		<li><a href="http://www.python.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/python.png'}}"/></a></li>
		<li><a href="http://www.tornadoweb.org/en/stable/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/tornado.png'}}"/></a></li>
		<li><a href="http://wiki.nginx.org/Main" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/nginx.png'}}"/></a></li>
		<li><a href="https://www.heroku.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/heroku.png'}}"/></a></li>
		<li><a href="http://www.postgresql.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/postgresql.png'}}"/></a></li>
		<li><a href="http://www.postgis.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/postGIS.png'}}"/></a></li>
		<li><a href="http://www.mongodb.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/MongoDB.png'}}"/></a></li>
		<li><a href="http://www.gdal.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/gdal.png'}}"/></a></li>
		<li><a href="http://trac.osgeo.org/proj/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/proj4.png'}}"/></a></li>
	</ul>

	<h1 class="hugemarginbottom">{{App.translations.messages.CreditsTitle2}}</h1>

 	<div class="row-fluid creditlink"><a class="link" href="http://blueimp.github.com/jQuery-File-Upload/">Sebastian Tschan's File-Upload</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://www.eyecon.ro/colorpicker/">Stefan Petre's Colorpicker</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://dailysyntax.com/slide-toggle-onoff-with-jquery-css3/">DailySyntax's Toggle On/Off</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://www.bulgaria-web-developers.com/projects/javascript/selectbox/">Dimitar Ivanov's Selectbox</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://bassistance.de/jquery-plugins/jquery-plugin-validation/">Jörn Zaefferer's Validation</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://www.no-margin-for-errors.com/projects/prettyphoto-jquery-lightbox-clone/">Stephane Caron's PrettyPhoto</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://kevinbatdorf.github.io/codaslider/">Kevin Batdorf's Coda Slider</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://galleria.io/">Galleria</a></div>

	<h1 class="hugemarginbottom">{{App.translations.messages.CreditsTitle3}}</h1>

 	<div class="row-fluid creditlink"><a class="link" href="http://qjson.sourceforge.net/">QJson</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://quazip.sourceforge.net/">QuaZIP</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://xf.iksaif.net/dev/qcommandline.html">QCommandLine</a></div>
</div>

