
<div class="marketing home-container websiteContent hugemarginbottom">
	<h1 class="hugemarginbottom">{{App.translations.messages.CreditsTitle}}</h1>
	<ul class="gallery hugemarginbottom">
		<li><a href="http://emberjs.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/ember.png'}}"/></a></li>
		<li><a href="http://jquery.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/jquery.png'}}"/></a></li>
		<li><a href="http://twitter.github.io/bootstrap/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/bootstrap.jpg'}}"/></a></li>
		<li><a href="http://www.playframework.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/play.png'}}"/></a></li>
		<li><a href="http://www.python.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/python.png'}}"/></a></li>
		<li><a href="http://www.tornadoweb.org/en/stable/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/tornado.png'}}"/></a></li>
		<li><a href="http://wiki.nginx.org/Main" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/nginx.png'}}"/></a></li>
		<li><a href="https://www.heroku.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/heroku.png'}}"/></a></li>
		<li><a href="http://www.postgresql.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/postgresql.png'}}"/></a></li>

		<li><a href="http://www.postgresql.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/postgresql.png'}}"/></a></li>
	</ul>

	<h1 class="hugemarginbottom">{{App.translations.messages.CreditsTitle2}}</h1>

 	<div class="row-fluid creditlink"><a class="link" href="http://blueimp.github.com/jQuery-File-Upload/">http://blueimp.github.com/jQuery-File-Upload/</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://www.eyecon.ro/colorpicker/">http://www.eyecon.ro/colorpicker/</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://dailysyntax.com/slide-toggle-onoff-with-jquery-css3/">http://dailysyntax.com/slide-toggle-onoff-with-jquery-css3/</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://www.bulgaria-web-developers.com/projects/javascript/selectbox/">http://www.bulgaria-web-developers.com/projects/javascript/selectbox/</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://bassistance.de/jquery-plugins/jquery-plugin-validation/">http://bassistance.de/jquery-plugins/jquery-plugin-validation/</a></div>
 	<div class="row-fluid creditlink"><a class="link" href="http://www.no-margin-for-errors.com/projects/prettyphoto-jquery-lightbox-clone/">http://www.no-margin-for-errors.com/projects/prettyphoto-jquery-lightbox-clone/</a></div>
</div>

