

<div class="marketing home-container websiteContent hugemarginbottom">
	<h1 class="hugemarginbottom">{{App.translations.messages.CreditsTitle}}</h1>
	<ul class="gallery hugemarginbottom">
		<li><a href="http://emberjs.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/ember.png'}}"/></a></li>
		<li><a href="http://jquery.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/jquery.png'}}"/></a></li>
		<li><a href="http://www.playframework.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/play.png'}}"/></a></li>
		<li><a href="http://www.python.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/python.png'}}"/></a></li>
		<li><a href="http://www.tornadoweb.org/en/stable/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/tornado.png'}}"/></a></li>
		<li><a href="http://wiki.nginx.org/Main" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/nginx.png'}}"/></a></li>
		<li><a href="https://www.heroku.com/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/heroku.png'}}"/></a></li>
		<li><a href="http://www.postgresql.org/" target="_blank"><img class="creditimage" src="{{static path='/images/home/credits/postgresql.png'}}"/></a></li>
	</ul>

	<h1 class="hugemarginbottom">{{App.translations.messages.CreditsTitle2}}</h1>
</div>

