

<div class="marketing container home-container websiteContent hugemarginbottom">
	<h1 class="hugemarginbottom">{{App.translations.messages.Features}}</h1>
	
	<table class="table table-bordered">
	    <tbody>
	      <tr>
	        <td rowspan="5">{{App.translations.messages.DataManagement}}</td>
	        <td>basemaps</td>
	        <td>(Google, OSM, mapquest...)</td>
	      </tr>
	      <tr>
	        <td>bibliotheque de styles predefinis et personalisables</td>
	        <td>(voir edition)</td>
	      </tr>
	      <tr>
	        <td rowspan="3">import de données</td>
	        <td>bla</td>
	      </tr>
	      
	      <tr>
	        <td>bli</td>
	      </tr>
	      <tr>
	        <td>blu</td>
	      </tr>
	      
	      
	      <tr>
	        <td>edition</td>
	        <td>Jacob</td>
	        <td>Thornton</td>
	      </tr>
	      
	      
	      <tr>
	        <td>publication</td>
	        <td colspan="2">Larry the Bird</td>
	      </tr>
	    </tbody>
	  </table>
</div>