	<div class="marketing home-container">

		<!-- -------------------------------------------------------------- -->
		<!-- Top Image -->

		<div id="homeImage"></div>
		<img id="playImage" onclick="window.youtubeManager.openVideoWindow(App.translator.lang)" class="touchable" src="{{static path='/images/home/part1/play.png'}}"></img>

		<div class="row-fluid" id="part1">
			<h1 class="homeTitle">{{App.translations.messages.AwesomeMaps}}</h1>
			<p class="homeSubtitle">{{App.translations.messages.Everywhere}}</p>

		</div>

		<div class="container">
		
			<!-- -------------------------------------------------------------- -->
			<!-- Choose/Upload/Organize/Customize/Share -->
	
			<div class="row-fluid">
	
				<div class="span12">
					<div class="homepage_top">
						<div class="span2 offset1">
							<div id="widget_sp_image-2" class="widget widget_sp_image">
								<img src="{{static path='/images/home/part1/choose.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Choose}}</h4>
								<div class="widget_sp_image-description">
									<p>
										{{App.translations.messages.chooseText1}} {{App.translations.messages.chooseText3}} {{App.translations.messages.chooseText4}}
									</p>
								</div>
							</div>
						</div>
						<div class="span2">
							<div id="widget_sp_image-2" class="widget widget_sp_image">
								<img src="{{static path='/images/home/part1/maperialize.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Upload}}</h4>
								<div class="widget_sp_image-description">
									<p>{{App.translations.messages.uploadText}}</p>
								</div>
							</div>
						</div>
						<div class="span2">
							<div id="widget_sp_image-3" class="widget widget_sp_image">
								<img src="{{static path='/images/home/part1/layers.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Organize}}</h4>
								<div class="widget_sp_image-description">
									<p>{{App.translations.messages.organizeText}}</p>
								</div>
							</div>
						</div>
						<div class="span2">
							<div id="widget_sp_image-4" class="widget widget_sp_image">
								<img src="{{static path='/images/home/part1/edit.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Customize}}</h4>
								<div class="widget_sp_image-description">
									<p>{{App.translations.messages.customizeText}}</p>
								</div>
							</div>
						</div>
						<div class="span2">
							<div id="widget_sp_image-5" class="widget widget_sp_image">
								<img src="{{static path='/images/home/part1/people.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Share}}</h4>
								<div class="widget_sp_image-description">
									<p>{{App.translations.messages.shareText}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
		
		<hr class="soften"/>
	</div>
	
	<!-- News -->
	
	<div class="container">
		<div class="row-fluid">
			<div class="span10 offset1" id="newsContainer">
				{{outlet}}
			</div>	
		</div>	
	</div>
	
	<div class="marketing container">
	
		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" {{action openTryscreen}}>
			<div class="span3 offset4 homeAction">{{App.translations.messages.TryNow}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>
	
		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" {{action openMore}}>
			<div class="span3 offset4 homeAction">{{App.translations.messages.FindOutMore}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>

		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" {{action openFeatures}}>
			<div class="span3 offset4 homeAction">{{App.translations.messages.Features}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>
	
		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" onClick="window.location.href='/demos'">
			<div class="span3 offset4 homeAction">{{App.translations.messages.Demos}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>
	
		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" {{action openScreenshots}}>
			<div class="span3 offset4 homeAction">{{App.translations.messages.Screenshots}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>
	
	</div>


