	<div class="marketing home-container">

		<!-- -------------------------------------------------------------- -->
		<!-- Top Image -->

		<div id="homeImage"></div>
		<img id="playImage" onclick="window.youtubeManager.openVideoWindow(App.translator.lang)" class="touchable" src="{{static path='/images/home/part1/play.png'}}"></img>

		<div class="row-fluid" id="part1">
			<h1 class="homeTitle">{{App.translations.messages.AwesomeMaps}}</h1>
			<p class="homeSubtitle">{{App.translations.messages.Everywhere}}</p>

		</div>

		<div id="workflow" class="container">
		
			<!-- -------------------------------------------------------------- -->
			<!-- Choose/Upload/Organize/Customize/Share -->
	
			<div class="row-fluid">
	
				<div class="span12">
					<div class="homepage_top">
					<!-- 
						<div class="span2 offset1">
							<div id="widget_sp_image-2" class="widget widget_sp_image">
								<img src="{{static path='/images/home/part1/choose.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Choose}}</h4>
								<div class="widget_sp_image-description">
									<p>
										{{App.translations.messages.chooseText1}} {{App.translations.messages.chooseText3}} {{App.translations.messages.chooseText4}}
									</p>
								</div>
							</div>
						</div>
						<div class="span2">
							<div id="widget_sp_image-2" class="widget widget_sp_image">
								<img src="{{static path='/images/home/part1/maperialize.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Upload}}</h4>
								<div class="widget_sp_image-description">
									<p>{{App.translations.messages.uploadText}}</p>
								</div>
							</div>
						</div>
					-->
						<div class="span3 offset2">
							<div id="widget_sp_image-3" class="widget_sp_image first-child">
								<img src="{{static path='/images/home/part1/layers.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Organize}}</h4>
								<div class="widget_sp_image-description">
									<p>{{App.translations.messages.organizeText}}</p>
								</div>
							</div>
						</div>
						<div class="span3">
							<div id="widget_sp_image-4" class="widget widget_sp_image">
								<img src="{{static path='/images/home/part1/edit.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Customize}}</h4>
								<div class="widget_sp_image-description">
									<p>{{App.translations.messages.customizeText}}</p>
								</div>
							</div>
						</div>
						<div class="span3">
							<div id="widget_sp_image-5" class="widget widget_sp_image">
								<img src="{{static path='/images/home/part1/people.mini.png'}}">
								<h4 class="title">{{App.translations.messages.Share}}</h4>
								<div class="widget_sp_image-description">
									<p>{{App.translations.messages.shareText}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
		
	</div>
	
	<!-- -------------------------------------------------------------- -->
	<!-- TRY NOW -->
	
	<div class="marketing container">
	
		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" {{action openTryscreen}}>
			<div class="span3 offset4 homeAction">{{App.translations.messages.TryNow}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>
	
		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" onClick="window.location.href='/demos'">
			<div class="span3 offset4 homeAction">{{App.translations.messages.Demos}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>
	
		<hr class="homeActionSeparator"/>
	</div>

	<!-- -------------------------------------------------------------- -->
	<!-- Larger descriptions -->

	<div class="marketing home-container">
		<div class="container">
			<div class="row-fluid homepage_top">
	
				<div class="row-fluid">
					<div class="home-description span6 offset2">
						<h2>{{App.translations.messages.QuickAndEasy}}</h2>
						<p>{{App.translations.messages.QEText1}}</p>
						<p>{{App.translations.messages.QEText2}}</p>
						<p>{{App.translations.messages.QEText3}}</p>
						<p>{{App.translations.messages.QEText4}}</p>
					</div>
					<div class="span2">
						<img class="homeIcon" src="{{static path='/images/home/part1/clock.medium.png'}}">
					</div>
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<hr class="soften span10 offset1" />
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<div class="home-description span6 offset2">
						<h2>{{App.translations.messages.ToolForEveryone}}</h2>
						<p>{{App.translations.messages.TEText1}}</p>
						<p>{{App.translations.messages.TEText2}}</p>
						<p>{{App.translations.messages.TEText3}}</p>
					</div>
					<div class="span2">
						<img class="homeIcon" src="{{static path='/images/home/part1/everyone.medium.png'}}">
					</div>
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<hr class="soften span10 offset1" />
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<div class="home-description span5 offset2">
						<h2>{{App.translations.messages.Customize}}</h2>
						<p>{{App.translations.messages.CustomizeText1}}</p>
						<p>{{App.translations.messages.CustomizeText2}}</p>
						<p>{{App.translations.messages.CustomizeText3}}</p>
						<p>{{App.translations.messages.CustomizeText4}}</p>
						<br/><br/>
						<p>{{App.translations.messages.CustomizeText5}}</p>
					</div>
					<div class="span2 offset1">
						<img class="homeIcon" src="{{static path='/images/home/part1/edit.medium.png'}}">
					</div>
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<hr class="soften span10 offset1" />
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<div class="home-description span5 offset2">
						<h2>{{App.translations.messages.Maperialize}}</h2>
						<p>{{App.translations.messages.MaperializeText1}}</p>
						<p>{{App.translations.messages.MaperializeText2}}</p>
						<p>{{App.translations.messages.MaperializeText3}}</p>
					</div>
					<div class="span2 offset1">
						<img class="homeIcon" src="{{static path='/images/home/part1/maperialize.medium.png'}}">
					</div>
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<hr class="soften span10 offset1" />
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<div class="home-description span5 offset2">
						<h2>{{App.translations.messages.Share}}</h2>
						<p>{{App.translations.messages.ShareText1}}</p>
						<p>{{App.translations.messages.ShareText2}}</p>
						<p>{{App.translations.messages.ShareText3}}</p>
						<p>{{App.translations.messages.ShareText4}}</p>
					</div>
					<div class="span2 offset1">
						<img class="homeIcon" src="{{static path='/images/home/part1/people.medium.png'}}">
					</div>
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<hr class="soften span10 offset1" />
				</div>
	
				<!-- --------- -->
	
				<div class="row-fluid">
					<div class="home-description span5 offset2">
						<h2>{{App.translations.messages.Saas}}</h2>
						<p>{{App.translations.messages.SaasText1}}</p>
						<p>{{App.translations.messages.SaasText2}}</p>
						<p>{{App.translations.messages.SaasText3}}</p>
					</div>
					<div class="span2 offset1">
						<img class="homeIcon" src="{{static path='/images/home/part1/saas.medium.png'}}">
					</div>
				</div>
	
				<!-- -------------------------------------------------------------- -->
	
				<div class="row-fluid">
					<hr class="soften span10 offset1" />
				</div>
	
				<!-- -------------------------------------------------------------- -->
				<!-- For You -->
		
				<div class="row-fluid">
		
						<div class="row-fluid">
						<div class="home-description span5 offset2">
							<h2>{{App.translations.messages.ToolForYou}}</h2>
							<p>{{App.translations.messages.ToolForYouText1}}</p>
							<p>{{App.translations.messages.ToolForYouText2}}</p>
							<p>{{App.translations.messages.ToolForYouText3}}</p>
							<br/>
							<p>{{App.translations.messages.ToolForYouText4}}   
							</p>
								<div class="SocialIconsWidget">
									<ul class="widget_socials">
										<li><a href="mailto:{{email name='maperial'}}" class="mail"></a></li>
									</ul>
								</div>
						</div>
						<div class="span2 offset1">
							<img class="homeIcon" src="{{static path='/images/home/part1/note.medium.png'}}">
						</div>
					</div>
	
				</div>
	
			</div>
		</div>
	</div>
		
	<!-- ACTIONS -->
		
	<div class="marketing container">
	
		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" {{action openPresentation}}>
			<div class="span3 offset4 homeAction">{{App.translations.messages.FindOutMore}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>

		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" {{action openFeatures}}>
			<div class="span3 offset4 homeAction">{{App.translations.messages.Features}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>
		
		<hr class="homeActionSeparator"/>
		<div class="row-fluid touchable" {{action openScreenshots}}>
			<div class="span3 offset4 homeAction">{{App.translations.messages.Screenshots}}</div>
			<img class="miniarrow" src="{{static path='/images/global/arrow-right-mini.png'}}"></img>
		</div>
	
	</div>

	<!-- News -->
	
	<div class="container">
		<div class="row-fluid">
			<div class="span10 offset1" id="newsContainer">
				{{outlet}}
			</div>	
		</div>	
	</div>
	

