

<div class="marketing container home-container websiteContent hugemarginbottom">
	<h1 class="hugemarginbottom">{{App.translations.messages.Jobs}}</h1>
	
	<div class="span4 offset1">
		<img src="{{static path='/images/home/laptop.png'}}" width="250px"/>
	</div>
	<div class="span4">
		<p>{{App.translations.messages.JobsText}}</p>
		<p>{{App.translations.messages.JobsText2}}</p>
		<div class="SocialIconsWidget">
			<ul class="widget_socials">
				<li><a href="mailto:{{email name='jobs'}}" class="mail"></a></li>
			</ul>
		</div>
	</div>
</div>