

<div class="marketing container home-container websiteContent">
	<h1 class="">{{App.translations.messages.Presentation}}</h1>
</div>

<div>
	<div class="row-fluid marketing hugemarginbottom">
		<div class="span10 offset1">
			<h2>{{App.translations.messages.PresentationText1}}</h2>
		</div>
	</div>
	<div class="row-fluid hugemarginbottom">
		<div class="span10 offset1">
			<p>
				{{App.translations.messages.PresentationText2}}
			</p>
			<p>
				{{App.translations.messages.PresentationText3}}
			</p>
			<p>
				{{App.translations.messages.PresentationText4}}
			</p>
		</div>
	</div>

</div>

<div>
	<div class="row-fluid marketing hugemarginbottom">
		<div class="span10 offset1">
			<h2>{{App.translations.messages.PresentationText5}}</h2>
		</div>
	</div>
	<div class="row-fluid hugemarginbottom">
		<div class="span10 offset1">
			<p>
				{{App.translations.messages.PresentationText6}}
			</p>
			<p>
				{{App.translations.messages.PresentationText7}}
			</p>
		</div>
	</div>

</div>

<div>
	<div class="row-fluid marketing hugemarginbottom">
		<div class="span10 offset1">
			<h2>{{App.translations.messages.PresentationText8}}</h2>
		</div>
	</div>
	<div class="row-fluid hugemarginbottom">
		<div class="span10 offset1">
			<p>
				{{App.translations.messages.PresentationText9}}
			</p>
			<p>
				{{App.translations.messages.PresentationText10}}
			</p>
			<p>
				{{App.translations.messages.PresentationText11}}
			</p>
		</div>
	</div>

</div>

<div>
	<div class="row-fluid marketing hugemarginbottom">
		<div class="span10 offset1">
			<h2>{{App.translations.messages.PresentationText12}}</h2>
		</div>
	</div>
	<div class="row-fluid hugemarginbottom">
		<div class="span10 offset1">
			<p>
				{{App.translations.messages.PresentationText13}}
			</p>
			<p>
				{{App.translations.messages.PresentationText14}}
			</p>
			<div class="SocialIconsWidget">
				<ul class="widget_socials">
					<li><a href="mailto:{{email name='maperial'}}" class="mail"></a></li>
				</ul>
			</div>
		</div>
	</div>

</div>