

<div class="marketing home-container websiteContent hugemarginbottom">
	<h1 class="hugemarginbottom">{{App.translations.messages.AllNews}}</h1>

	
	<!-- 
	<div class="home-container gallery-container">
		<div class="home-description span6 offset3">
			<ul class="gallery clearfix">
				<li><a href="{{static path='/images/home/fullscreen/screenshot1.png'}}" rel="prettyPhoto[gallery2]"><img src="{{static path='/images/home/thumbnails/thumb1.png'}}" width="60" height="60" alt="" /></a></li>
				<li><a href="{{static path='/images/home/fullscreen/screenshot2.png'}}" rel="prettyPhoto[gallery2]"><img src="{{static path='/images/home/thumbnails/thumb2.png'}}" width="60" height="60" alt="" /></a></li>
				<li><a href="{{static path='/images/home/fullscreen/screenshot3.png'}}" rel="prettyPhoto[gallery2]"><img src="{{static path='/images/home/thumbnails/thumb3.png'}}" width="60" height="60" alt="" /></a></li>
				<li><a href="{{static path='/images/home/fullscreen/screenshot4.png'}}" rel="prettyPhoto[gallery2]"><img src="{{static path='/images/home/thumbnails/thumb4.png'}}" width="60" height="60" alt="" /></a></li>
				<li><a href="{{static path='/images/home/fullscreen/screenshot5.png'}}" rel="prettyPhoto[gallery2]"><img src="{{static path='/images/home/thumbnails/thumb5.png'}}" width="60" height="60" alt="" /></a></li>
				<li><a href="{{static path='/images/home/fullscreen/screenshot6.png'}}" rel="prettyPhoto[gallery2]"><img src="{{static path='/images/home/thumbnails/thumb6.png'}}" width="60" height="60" alt="" /></a></li>
			</ul>
		</div>

	</div>
	 -->
	
	<div class="row-fluid hugemarginbottom">
	
	    <div id="galleria" class="span8 offset2">
	        <a href="{{static path='/images/home/fullscreen/screenshot1.png'}}">
	            <img 
	                src="{{static path='/images/home/thumbnails/thumb1.png'}}"
	                data-big="{{static path='/images/home/fullscreen/screenshot1.png'}}"
	                data-title="{{App.translations.messages.Screenshot1Title}}"
	                data-description="{{App.translations.messages.Screenshot1Text}}"
	            />
	        </a>
	        <a href="{{static path='/images/home/fullscreen/screenshot2.png'}}">
	            <img 
	                src="{{static path='/images/home/thumbnails/thumb2.png'}}"
	                data-big="{{static path='/images/home/fullscreen/screenshot2.png'}}"
	                data-title="{{App.translations.messages.Screenshot2Title}}"
	                data-description="{{App.translations.messages.Screenshot2Text}}"
	            />
	        </a>
	        <a href="{{static path='/images/home/fullscreen/screenshot4.png'}}">
	            <img 
	                src="{{static path='/images/home/thumbnails/thumb4.png'}}"
	                data-big="{{static path='/images/home/fullscreen/screenshot4.png'}}"
	                data-title="{{App.translations.messages.Screenshot4Title}}"
	                data-description="{{App.translations.messages.Screenshot4Text}}"
	            />
	        </a>
	        <a href="{{static path='/images/home/fullscreen/screenshot5.png'}}">
	            <img 
	                src="{{static path='/images/home/thumbnails/thumb5.png'}}"
	                data-big="{{static path='/images/home/fullscreen/screenshot5.png'}}"
	                data-title="{{App.translations.messages.Screenshot5Title}}"
	                data-description="{{App.translations.messages.Screenshot5Text}}"
	            />
	        </a>
	        <a href="{{static path='/images/home/fullscreen/screenshot6.png'}}">
	            <img 
	                src="{{static path='/images/home/thumbnails/thumb6.png'}}"
	                data-big="{{static path='/images/home/fullscreen/screenshot6.png'}}"
	                data-title="{{App.translations.messages.Screenshot6Title}}"
	                data-description="{{App.translations.messages.Screenshot6Text}}"
	            />
	        </a>
	    </div>
	</div>
	 
 
</div>