

<div class="marketing home-container websiteContent hugemarginbottom">
	<h1 class="hugemarginbottom">{{App.translations.messages.Team}}</h1>

	<div id="djoul" class="row-fluid hugemarginbottom">
		<div class="span4 offset2">
			<img src="http://static.maperial.localhost/images/home/djoul.jpg" width="250px"/>
		</div>
		<div class="span4">
			<p class="marketing-byline">Julien Bost - {{App.translations.messages.cofounder}}</p>
			<p>{{App.translations.messages.djoulText}}</p>
			<p>{{App.translations.messages.djoulText2}}</p>
			<div class="SocialIconsWidget">
				<ul class="widget_socials">
					<li><a href="mailto:{{email name='djoul'}}" class="mail"></a></li>
					<li><a href="http://www.linkedin.com/in/jbost" class="linkedin" target="_blank"></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="chris" class="row-fluid hugemarginbottom">
		<div class="span4 offset2">
			<img src="http://static.maperial.localhost/images/home/chris.jpg" width="250px"/>
		</div>
		<div class="span4">
			<p class="marketing-byline">Christophe Dugne-Esquevin - {{App.translations.messages.cofounder}}</p>
			<p>{{App.translations.messages.chrisText}}	
			<a class="link" href="http://www.uralys.com" target="_blank">{{App.translations.messages.chrisText2}}</a>	{{App.translations.messages.chrisText3}}
			<a class="link" href="http://www.facebook.com/appcenter/cadeaux-serendi" target="_blank">{{App.translations.messages.chrisText4}}</a> {{App.translations.messages.chrisText5}}</p>
			<p>{{App.translations.messages.chrisText6}}</p>
			<div class="SocialIconsWidget">
				<ul class="widget_socials">
					<li><a href="mailto:{{email name='chris'}}" class="mail"></a></li>
					<li><a href="http://www.linkedin.com/in/christophedugne" class="linkedin" target="_blank"></a></li>
					<li><a href="https://twitter.com/chrisdugne" class="twitter" target="_blank"></a></li>
				</ul>
			</div>
		</div>
	</div>

</div>

