

<div class="marketing container home-container websiteContent hugemarginbottom">
	<h1>{{App.translations.messages.Team}}</h1>
	<p class="marketing-byline hugemarginbottom">{{App.translations.messages.Founders}}</p>

	<div id="djoul" class="row-fluid hugemarginbottom">
		<div class="span4 offset2">
			<img id="photoDjoul" class="polaroid rounded" src="{{static path='/images/home/djoul.jpg'}}" width="220px"/>
		</div>
		<div class="span4">
			<p class="marketing-byline">Julien Bost</p>
			<p>{{App.translations.messages.djoulText}}</p>
			<p>{{App.translations.messages.djoulText2}}</p>
			<div class="SocialIconsWidget">
				<ul class="widget_socials">
					<li><a href="mailto:{{email name='djoul'}}" class="mail"></a></li>
					<li><a href="http://www.linkedin.com/in/jbost" class="linkedin" target="_blank"></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="vivien" class="row-fluid hugemarginbottom">
		<div class="span4 offset2">
			<img id="photoVivien" class="polaroid rounded" src="{{static path='/images/home/vivien2.jpg'}}" width="250px"/>
		</div>
		<div class="span4">
			<p class="marketing-byline">Vivien Clauzon</p>
			<p>{{App.translations.messages.vivienText}}</p>
			<p>{{App.translations.messages.vivienText2}}</p>
			<div class="SocialIconsWidget">
				<ul class="widget_socials">
					<li><a href="mailto:{{email name='vivien'}}" class="mail"></a></li>
					<li><a href="http://www.linkedin.com/pub/vivien-clauzon/38/356/856" class="linkedin" target="_blank"></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="chris" class="row-fluid hugemarginbottom">
		<div class="span4 offset2">
			<img id="photoChris" class="polaroid rounded" src="{{static path='/images/home/chris2.jpg'}}" width="200px"/>
		</div>
		<div class="span4">
			<p class="marketing-byline">Christophe Dugne-Esquevin</p>
			<p>{{App.translations.messages.chrisText}}	
			<a class="link" href="http://www.uralys.com" target="_blank">{{App.translations.messages.chrisText2}}</a>	{{App.translations.messages.chrisText3}}
			<a class="link" href="http://www.facebook.com/appcenter/cadeaux-serendi" target="_blank">{{App.translations.messages.chrisText4}}</a> {{App.translations.messages.chrisText5}}</p>
			<p>{{App.translations.messages.chrisText6}}</p>
			<div class="SocialIconsWidget">
				<ul class="widget_socials">
					<li><a href="mailto:{{email name='chris'}}" class="mail"></a></li>
					<li><a href="http://www.linkedin.com/profile/view?id=13088242" class="linkedin" target="_blank"></a></li>
					<li><a href="https://twitter.com/chrisdugne" class="twitter" target="_blank"></a></li>
				</ul>
			</div>
		</div>
	</div>

</div>

