@import views.html.ember.components.databox;

<div class="container-fluid">

  <div class="marketing">
		<h1>Dashboard</h1>
   		<p class="marketing-byline">All your data is here</p>
		<hr class="soften">
		
		<div class="row-fluid">
			@databox("Your maps")
			@databox("Your styles")
		</div>
		
		<div class="row-fluid">
			@databox("Your colorbars")
			@databox("Your datasets")
		</div>

		<div class="row-fluid">
			@databox("Your icons")
			@databox("Your fonts")
		</div>
		
	</div>
</div>


