
{{#if loggedIn}}
	<div {{action openDashboard}} class="btn-large btn-primary headerButton">Dashboard</div>
{{else}}
	<div {{action openHome}} class="btn-large btn-primary headerButton">Home</div>
{{/if}}

   <canvas id="map" style="border: none;"></canvas>


<div id="colorbar" title="Color Bar" class="popup">
	<div id="colorbartestcolor" class="square" onclick="openColorPicker(this)"></div>
</div>

<div id="style" title="Style" class="popup">
	<div id="styletestcolor" class="square" onclick="openColorPicker(this)"></div>
</div>

<div id="colorpicker" class="popup"></div>
