<script type="text/x-handlebars" data-template-name="tryscreen">
 	{{#if app.user.loggedIn}}
		loggedIn
	{{else}}
		<a {{action openHome}} id="homeButton" class="btn btn-large btn-primary submit">Home</a>
	{{/if}}

    <div id="map"></div>
 	<div id="colorbar" title="Color Bar" class="popup">
		<div id="colorbartestcolor" class="square" onclick="openColorPicker(this)"></div>
	</div>

 	<div id="style" title="Style" class="popup">
		<div id="styletestcolor" class="square" onclick="openColorPicker(this)"></div>
	</div>

 	<div id="colorpicker" class="popup"></div>
</script>
