@(isProd:Boolean, popupLoginWindow:Boolean)
@import views.html.webapp;

<!doctype html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<html>
    <head>
        <title>@Messages("applicationName")</title>
        <link rel="shortcut icon" type="image/png" href="http://static.maperial.com/images/global/favicon.png">
        
	    @if(isProd){
			<link rel="stylesheet" media="screen" href="http://static.maperial.com/css/maperial-webapp.min.css" />
	   	}else{
			<link rel="stylesheet" media="screen" href="http://static.maperial.localhost/css/maperial-webapp.min.localhost.css" /> 
	   	}
    </head>
    
  	<body id="body">
	    <!-- ================================================== -->
	    <!-- frame -->

	    <div id="webappDiv"></div>
		
	    <!-- ================================================== -->
	    
		@webapp()
		
	    <!-- ================================================== -->
	    <!-- Javascript - 
	    		Placed at the end of the document so the pages (appear to) load faster -->
		
		<!-- ---------------   Libs   ------------------>
		
		<!-- Google api for geoloc -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATwlkawyHykpfJF24jcPgL_b8kK8zO2Bc&sensor=false&libraries=places,panoramio"></script>

		<!-- Youtube -->
		<script type="text/javascript" src="http://www.youtube.com/player_api"> </script>
		
		<!-- -------------   Webapp -------------------->

	    @if(isProd:Boolean){
	    	<script src="http://static.maperial.com/js/maperial-webapp.o.js" type="text/javascript"></script>
	   	}else{
	    	<script src="http://static.maperial.localhost/js/maperial-webapp.min.localhost.js" type="text/javascript"></script>
	   	}

		<!-- Utils --->

		<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js" type="text/javascript"></script>
		<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js" type="text/javascript"></script>

		<!-- --------------------------------------------->

	    @if(popupLoginWindow){
		    <script type="text/javascript">
		    	setTimeout(function(){$('#loginWindow').modal()}, 500);
		    </script>
		}

		<!-- --------------------------------------------->
		
		<!-- Analytics -->
		<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-40162385-1']);
			  _gaq.push(['_setDomainName', 'maperial.com']);
			  _gaq.push(['_setAllowLinker', true]);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
		</script>
    </body>
        
</html>
