
@import views.html.header;
@import views.html.footer;
@import views.html.ember.app;
@import views.html.popups.loginWindow;

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("applicationName")</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/global/favicon.png")">
    </head>
    
  	<body id="body">
	    <!-- ================================================== -->
	    <!-- frame -->

		@header()
    	
	    <div id="webapp"></div>
		
		@footer()

	    <!-- ================================================== -->
		
	    <!-- EmberJs tags -->
		@app()
		
	    <!-- popups -->
	    @loginWindow()
	    
	    <!-- ================================================== -->
	    <!-- Javascript - 
	    		Placed at the end of the document so the pages (appear to) load faster -->
		
		<!-- ---------------   Libs   ------------------>
		
		<!-- Utils --->
	    <script src="@routes.Assets.at("javascripts/utils/jquery.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/utils/handlebars-1.0.0.beta.6.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/utils/ember-1.0.0-pre.2.min.js")" type="text/javascript"></script>

	    <script src="@routes.Assets.at("javascripts/utils/jquery-ui.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/utils/ui.dialogr.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/utils/evol.colorpicker.js")" type="text/javascript"></script>

		<!-- Bootstrap --->
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-affix.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-alert.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-button.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-carousel.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-collapse.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-dropdown.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-modal.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-tooltip.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-popover.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-scrollspy.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-tab.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-transition.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-typeahead.js")" type="text/javascript"></script>
    	
		<!-- -------------   Mapnify  -------------------->
		<!-- App global files --->
	    <script src="@routes.Assets.at("javascripts/global.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/utils.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/google.js")" type="text/javascript"></script>

		<!-- -----  UI  ------->
		
		<!-- Try screen --->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrc-COPNAP_0ysMjr8ySruAnfmImnFuH8&sensor=false"></script>
	    <script src="@routes.Assets.at("javascripts/ember/views/tryscreen.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/ember/views/tryscreen/colorBar.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/ember/views/tryscreen/colorPicker.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/ember/views/tryscreen/style.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/ember/views/tryscreen/map.js")" type="text/javascript"></script>
	    
		<!-- Ember App Init ---->
		
	    <script type="text/javascript">
	    	var App = Ember.Application.create({rootElement: '#webapp'});
	    </script>

	    <script src="@routes.Assets.at("javascripts/ember/controllers.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/ember/router.js")" type="text/javascript"></script>

	    <script type="text/javascript">
		    App.initialize();
	    </script>
	

		<!-- Google API --->
    	<script src="https://apis.google.com/js/client.js?onload=googleLoad"></script>
		 
		<!-- Analytics 
	    <script type="text/javascript">
	      var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34545115-1']);
	      
		  (function() {
			  	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                      })();
	    </script>
	    --->
    </body>
        
</html>
