@(popupLoginWindow:Boolean)
@import views.html.webapp;
<!doctype html>
<html>
    <head>
        <title>@Messages("applicationName")</title>
	    
        <link rel="shortcut icon" type="image/png" href="http://static.maperial.localhost/images/global/favicon.png">

		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/bootstrap.min.css"/> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/libs/bootstrap-image-gallery.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/libs/jquery-ui-1.9.2.custom.min.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/libs/jquery.fileupload-ui.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/libs/prettyPhoto.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/libs/upload.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/libs/slideronoff.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/libs/jquery.selectbox.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/mapediting/colorpicker.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/mapediting/ajaxwaitspin.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/maperial/global.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/maperial/maperial.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/maperial/sprites.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/webapp/footer.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/webapp/dashboard.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/webapp/datasets.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/webapp/styleEditor.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/webapp/mapCreation.css" /> 
		
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/webapp/home.css" /> 
		<link rel="stylesheet" media="screen" href="http://sources.maperial.localhost/css/libs/coda-slider.css" /> 
    </head>
    
  	<body id="body">
	    <!-- ================================================== -->
	    <!-- frame -->

	    <div id="webappDiv"></div>
		
	    <!-- ================================================== -->
	    
		@webapp()
		
	    <!-- ================================================== -->
	    <!-- Javascript - 
	    		Placed at the end of the document so the pages (appear to) load faster -->
		
		<!-- ---------------   Libs   ------------------>
		
		<!-- Google api for geoloc -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATwlkawyHykpfJF24jcPgL_b8kK8zO2Bc&sensor=false&libraries=places,panoramio"></script>

		<!-- Youtube -->
		<script type="text/javascript" src="http://www.youtube.com/player_api"> </script>
        <script type="text/javascript" src="http://sources.maperial.localhost/js/tools/youtube-manager.js"> </script>

		<!-- --------------------------------------------->
        
		<!-- Utils --->

 	    <script src="http://sources.maperial.localhost/js/libs/jquery.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/libs/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/libs/jquery.validate.min.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/libs/jquery.prettyPhoto.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/libs/galleria-1.2.9.min.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/libs/jquery.coda-slider-3.0.js" type="text/javascript"></script>

 	    <script src="http://sources.maperial.localhost/js/libs/xdr.js" type="text/javascript"></script>

	    <script src="http://sources.maperial.localhost/js/libs/handlebars.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/tools/common-handlebars.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/libs/ember.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/tools/translator.js" type="text/javascript"></script>

		<!-- Upload -->
	    <script src="http://sources.maperial.localhost/js/extensions/upload/jquery.fileupload.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/upload/main.js" type="text/javascript"></script>

		<!-- Auth -->
	    <script src="http://sources.maperial.localhost/js/extensions/auth/maperialAuth.js" type="text/javascript"></script>

		<!-- Bootstrap --->
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-affix.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-alert.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-carousel.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-collapse.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-dropdown.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-modal.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-tooltip.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-popover.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-scrollspy.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-tab.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-transition.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/bootstrap/bootstrap-typeahead.js" type="text/javascript"></script>
    	
		<!-- -------------   MaperialJS -------------------->
		
        <!-- tools -->
	    <script src="http://sources.maperial.localhost/js/libs/jquery.mousewheel.min.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/libs/jquery.selectbox-0.2.min.js" type="text/javascript"></script>

        <!-- libs -->
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/libs/gl-matrix-min.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/libs/coordinate-system.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/libs/geoloc.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/libs/colorpicker.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/libs/RGBColor.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/libs/hashmap.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/libs/canvasutilities.js" type="text/javascript"></script>

        <!-- rendering -->
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/rendering/gl-tools.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/rendering/gl-imagelayer.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/rendering/gl-rasterlayer.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/rendering/gl-tile.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/rendering/gl-vectoriallayer.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/rendering/render-line.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/rendering/render-text.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/rendering/tile-renderer.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/rendering/map-renderer.js" type="text/javascript"></script>

        <!-- modules -->
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/events.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/source.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/mouse.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/mover.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/template-builder.js" type="text/javascript"></script>

        <!-- hud -->
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/hud/hud.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/hud/panel-composition.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/hud/panel-switch.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/hud/panel-controls.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/hud/panel-latlon.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/hud/panel-scale.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/hud/panel-settings.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/hud/triggers.js" type="text/javascript"></script>

        <!-- managers -->
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/managers/styles-manager.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/managers/colorbars-manager.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/managers/layers-manager.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/managers/sources-manager.js" type="text/javascript"></script>
        
        <!-- edition -->
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/edition/boundingbox-drawer.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/edition/colortool.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/edition/symbolizer.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/edition/style-menu.js" type="text/javascript"></script>

        <!-- colorbar -->
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/colorbar/colorbar-rainbow.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/colorbar/colorbar.js" type="text/javascript"></script>

		<!-- Maperial -->
	    <script src="http://sources.maperial.localhost/js/extensions/maperialjs/maperial.js" type="text/javascript"></script>
        
		<!-- -------------   Webapp -------------------->

	    <script src="http://sources.maperial.localhost/js/tools/utils.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/tools/home-mover.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/tools/jquery-script-loader.js" type="text/javascript"></script>

	    <script src="http://sources.maperial.localhost/js/webapp/app.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/tools/custom-ember-handlebars.js" type="text/javascript"></script>

	    <script src="http://sources.maperial.localhost/js/webapp/managers/datasetManager.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/managers/styleManager.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/managers/colorbarManager.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/managers/userManager.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/managers/mapManager.js" type="text/javascript"></script>

	    <script src="http://sources.maperial.localhost/js/webapp/models/publicData.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/models/globals.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/models/translations.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/models/user.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/models/stylesData.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/models/colorbarsData.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/models/datasetsData.js" type="text/javascript"></script>	
	    
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/helpers/layers-helper.js" type="text/javascript"></script>

	    <script src="http://sources.maperial.localhost/js/webapp/controllers/applicationController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/homeController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/moreController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/teamController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/creditsController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/jobsController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/cartothequeController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/usechromeController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/dashboardController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/tryscreenController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/mapCreationController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/stylesController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/styleEditorController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/colorbarsController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/colorbarEditorController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/viewMapController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/datasetsController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/fontsController.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/iconsController.js" type="text/javascript"></script>

	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/applicationView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/homeView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/moreView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/teamView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/creditsView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/jobsView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/cartothequeView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/usechromeView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/dashboardView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/tryscreenView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/mapCreationView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/stylesView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/styleEditorView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/colorbarsView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/colorbarEditorView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/viewMapView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/datasetsView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/fontsView.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/iconsView.js" type="text/javascript"></script>

	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/styleList.js" type="text/javascript"></script>
	    <script src="http://sources.maperial.localhost/js/webapp/controllers/config/colorbarList.js" type="text/javascript"></script>
	    	
	    <script src="http://sources.maperial.localhost/js/webapp/router.js" type="text/javascript"></script>

		<!-- --------------------------------------------->
		
	    @if(popupLoginWindow){
		    <script type="text/javascript">
		    	setTimeout(function(){$('#loginWindow').modal()}, 500);
		    </script>
		}
		
    </body>
        
</html>
