@(isProd:Boolean, popupLoginWindow:Boolean)
@import views.html.templates.webapp;

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("applicationName")</title>
        <link rel="shortcut icon" type="image/png" href="http://static.maperial.com/images/global/favicon.png">
        
	    @if(isProd){
			<link rel="stylesheet" media="screen" href="http://static.maperial.com/css/maperial-webapp.min.css" />
			<script>
				if(navigator.appName == "Microsoft Internet Explorer")
				   window.location.href = "http://maperial.com/pages/usechrome.html"
			</script>
	   	}else{
			<link rel="stylesheet" media="screen" href="http://static.maperial.localhost/css/maperial-webapp.min.localhost.css" /> 
			<script>
				if(navigator.appName == "Microsoft Internet Explorer")
				   window.location.href = "http://maperial.localhost/pages/usechrome.html"
			</script>
	   	}
    </head>
    
  	<body id="body">
	    <!-- ================================================== -->
	    <!-- frame -->

	    <div id="webappDiv"></div>
		
	    <!-- ================================================== -->
	    
		@webapp()
		
	    <!-- ================================================== -->
	    <!-- Javascript - 
	    		Placed at the end of the document so the pages (appear to) load faster -->
		
		<!-- ---------------   Libs   ------------------>
		
		<!-- Google api for geoloc -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATwlkawyHykpfJF24jcPgL_b8kK8zO2Bc&sensor=false&libraries=places,panoramio"></script>

		<!-- Youtube -->
		<script type="text/javascript" src="http://www.youtube.com/player_api"> </script>
		
		<!-- -------------   Webapp -------------------->

	    @if(isProd:Boolean){
	    	<script src="http://static.maperial.com/js/maperial-webapp.min.js" type="text/javascript"></script>
	   	}else{
	    	<script src="http://static.maperial.localhost/js/maperial-webapp.min.localhost.js" type="text/javascript"></script>
	   	}

		<!-- Utils --->

		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js" type="text/javascript"></script>
		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js" type="text/javascript"></script>

		<!-- --------------------------------------------->

	    @if(popupLoginWindow){
		    <script type="text/javascript">
		    	setTimeout(function(){$('#loginWindow').modal()}, 500);
		    </script>
		}

		<!-- --------------------------------------------->
		
		
		<!-- Analytics 
	    <script type="text/javascript">
	      var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34545115-1']);
	      
		  (function() {
			  	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                      })();
	    </script>
	    --->
    </body>
        
</html>
