<!-- ------------------------------------------------------------------- -->

@import views.html.templates.pageTemplate;
@import views.html.templates.pages.website.websitePage;
@import views.html.templates.componentTemplate;

<!-- Pages -->

@import views.html.templates.pages.website.home;
@import views.html.templates.pages.website.more;
@import views.html.templates.pages.website.usechrome;
@import views.html.templates.pages.website.team;
@import views.html.templates.pages.website.credits;
@import views.html.templates.pages.website.jobs;
@import views.html.templates.pages.website.features;
@import views.html.templates.pages.website.presentation;
@import views.html.templates.pages.website.prices;
@import views.html.templates.pages.website.screenshots;
@import views.html.templates.pages.website.cartotheque;
@import views.html.templates.pages.website.allnews;

@import views.html.templates.pages.dashboard.dashboard;
@import views.html.templates.pages.tryscreen;

@import views.html.templates.pages.mapCreation;
@import views.html.templates.pages.styles;
@import views.html.templates.pages.colorbars;
@import views.html.templates.pages.datasets;
@import views.html.templates.pages.fonts;
@import views.html.templates.pages.icons;

@import views.html.templates.pages.styleEditor;
@import views.html.templates.pages.colorbarEditor;
@import views.html.templates.pages.viewMap;

<!-- Components -->

@import views.html.templates.components.styleList;
@import views.html.templates.components.colorbarList;

@import views.html.templates.pages.website.news.news;

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="application">
	{{outlet}}
</script>

<!-- ------------------------------------------------------------------- -->

<!-- --- Pages --- -->
@pageTemplate("home", true){@websitePage(){@home()}}
@pageTemplate("more", true){@websitePage(){@more()}}
@pageTemplate("usechrome", true){@websitePage(){@usechrome()}}
@pageTemplate("team", true){@websitePage(){@team()}}
@pageTemplate("credits", true){@websitePage(){@credits()}}
@pageTemplate("jobs", true){@websitePage(){@jobs()}}
@pageTemplate("presentation", true){@websitePage(){@presentation()}}
@pageTemplate("prices", true){@websitePage(){@prices()}}
@pageTemplate("features", true){@websitePage(){@features()}}
@pageTemplate("allNews", true){@websitePage(){@allnews()}}
@pageTemplate("screenshots", true){@websitePage(){@screenshots()}}
@pageTemplate("cartotheque", true){@websitePage(){@cartotheque()}}

@pageTemplate("dashboard"){@dashboard()}
@pageTemplate("tryscreen"){@tryscreen()}
@pageTemplate("mapCreation"){@mapCreation()}
@pageTemplate("styles"){@styles()}
@pageTemplate("colorbars"){@colorbars()}
@pageTemplate("datasets"){@datasets()}
@pageTemplate("fonts"){@fonts()}
@pageTemplate("icons"){@icons()}

@pageTemplate("styleEditor"){@styleEditor()}
@pageTemplate("colorbarEditor"){@colorbarEditor()}
@pageTemplate("viewMap"){@viewMap()}

<!-- --- Components --- -->

@componentTemplate("news"){@news()}
@componentTemplate("styleList"){@styleList()}
@componentTemplate("colorbarList"){@colorbarList()}


<!-- ------------------------------------------------------------------- -->