
<div id="baseSelectionWindow"
	class="modal hide fade popup" role="dialog">

	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark closer" data-dismiss="modal"> <i class="icon icon-ex-white-outline"></i></a>

	<br />
	<div class="row-fluid">
		<div class="span10">
			<p class="popuptitle">Select a Maperial stylable basemap</p>
		</div>
	</div>
	
	<div class="row-fluid marginbottom">
		<div {{action addLayer Source.MaperialOSM Source.MAPERIAL_CLASSIC}} class="span3" title="Classic">
			<img src="{{static path='/images/buttons/sources/button.maperial.classic.png'}}" class="bigbutton"></img>
		</div>

		<div {{action addLayer Source.SRTM}} class="span3" title="SRTM">
			<img src="{{static path='/images/buttons/sources/button.srtm.png'}}" class="bigbutton"></img>
		</div>
		<!-- 
		<div {{action addLayer Source.MaperialOSM Source.MAPERIAL_BROWNIE}} class="span3" title="Brownie">
			<img src="{{static path='/images/buttons/sources/button.maperial.brownie.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.MaperialOSM Source.MAPERIAL_COOKIES}} class="span3" title="Cookies">
			<img src="{{static path='/images/buttons/sources/button.maperial.cookies.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.MaperialOSM Source.MAPERIAL_FLUO}} class="span3" title="Fluo">
			<img src="{{static path='/images/buttons/sources/button.maperial.fluo.png'}}" class="bigbutton"></img>
		</div>
		 -->
	</div>

		<!-- 
	<div class="row-fluid marginbottom">
	
		<div {{action addLayer Source.MaperialOSM Source.MAPERIAL_GREEN}} class="span3" title="Green">
			<img src="{{static path='/images/buttons/sources/button.maperial.green.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.MaperialOSM Source.MAPERIAL_LIGHT}} class="span3" title="Light">
			<img src="{{static path='/images/buttons/sources/button.maperial.light.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.MaperialOSM Source.MAPERIAL_PINK}} class="span3" title="Pink">
			<img src="{{static path='/images/buttons/sources/button.maperial.pink.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.MaperialOSM Source.MAPERIAL_YELLOW}} class="span3" title="Yellow">
			<img src="{{static path='/images/buttons/sources/button.maperial.yellow.png'}}" class="bigbutton"></img>
		</div>
	</div>
		-->

	<div class="row-fluid">
		<div class="span10">
			<p class="popuptitle">Or tiles from classic basemaps</p>
		</div>
	</div>
	
	<div class="row-fluid">
		<div {{action addLayer Source.Images Source.IMAGES_MAPQUEST}} class="span3" title="Mapquest">
			<img src="{{static path='/images/buttons/sources/button.images.mapquest.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.Images Source.IMAGES_MAPQUEST_SATELLITE}} class="span3" title="Satellite">
			<img src="{{static path='/images/buttons/sources/button.images.mapquest.satellite.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.Images Source.IMAGES_OSM}} class="span3" title="OSM">
			<img src="{{static path='/images/buttons/sources/button.images.osm.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.Images Source.IMAGES_OCM_CYCLE}} class="span3" title="OpenCycleMap">
			<img src="{{static path='/images/buttons/sources/button.images.ocm.cycle.png'}}" class="bigbutton"></img>
		</div>
	</div>

	<div class="row-fluid">
		<div {{action addLayer Source.Images Source.IMAGES_STAMEN_WATERCOLOR}} class="span3" title="Watercolor">
			<img src="{{static path='/images/buttons/sources/button.images.stamen.watercolor.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.Images Source.IMAGES_STAMEN_TERRAIN}} class="span3" title="Terrain">
			<img src="{{static path='/images/buttons/sources/button.images.stamen.terrain.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.Images Source.IMAGES_STAMEN_TONER}} class="span3" title="Toner">
			<img src="{{static path='/images/buttons/sources/button.images.stamen.toner.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.Images Source.IMAGES_STAMEN_TONER_BG}} class="span3" title="Toner BG">
			<img src="{{static path='/images/buttons/sources/button.images.stamen.toner-background.png'}}" class="bigbutton"></img>
		</div>
	</div>
	
	<div class="row-fluid">
		<div {{action addLayer Source.Images Source.IMAGES_OCM_TRANSPORT}} class="span3" title="Transport">
			<img src="{{static path='/images/buttons/sources/button.images.ocm.transport.png'}}" class="bigbutton"></img>
		</div>
		<div {{action addLayer Source.Images Source.IMAGES_OCM_LANDSCAPE}} class="span3" title="Landscape">
			<img src="{{static path='/images/buttons/sources/button.images.ocm.landscape.png'}}" class="bigbutton"></img>
		</div>
	</div>
	
	<br />
</div>

