
@import views.html.templates.components.rasterParam;

<div style="display: none;" id="configureRasterWindow"
	class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="configureRasterWindowLabel" aria-hidden="true">

	<br />
	<div class="row">
		<div class="span4">
			<p class="popuptitle">Configure a Raster</p>
		</div>
		<div class="span2">
			<p>{{datasetsData.selectedDataset.name}}</p>
		</div>
	</div>
	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark"
		data-dismiss="modal"> <i class="icon icon-ex-white-outline"></i>
	</a>
	
	<div class="row-fluid">
	@rasterParam("X", "{{action selectX column}}", "x")
	@rasterParam("Y", "{{action selectY column}}", "y")
	</div>
		
	<div class="row-fluid">
	@rasterParam("V", "{{action selectV column}}", "v")
	@rasterParam("V", "{{action selectV column}}", "v")
	</div>

	<button {{action createRaster}} class="btn-small btn-success">
		<i class="icon-plus icon-white"></i>
	</button>
</div>