
<div id="demoSelectionWindow"
	class="modal hide fade" role="dialog">

	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark closer" data-dismiss="modal"> <i class="icon icon-ex-white-outline"></i></a>

	<br />
	<div class="row-fluid">
		<div class="span7">
			<p class="popuptitle">Build your own map</p>
		</div>
      	<div {{action startDemo}} id="startButton" class="span3 btn-large btn-primary">Start !</div>
	</div>
	
	<div class="row-fluid">
		<div class="span10">
			<p class="popuptitle">Or choose a demo</p>
		</div>
	</div>
	
	<div class="row-fluid">
		<div {{action loadDemo1}} class="span4 demobutton" title="France, SRTM + Cours d'eau">
			<img src="{{static path='/images/buttons/sources/button.demo.map1.png'}}" class="bigbutton"></img>
		</div>
		<div {{action loadDemo2}} class="span4 demobutton" title="Milano, OpenCycleMap + SRTM">
			<img src="{{static path='/images/buttons/sources/button.demo.map2.png'}}" class="bigbutton"></img>
		</div>
		<div {{action loadDemo3}} class="span4 demobutton" title="Bordeaux-Bilbao, Vintage">
			<img src="{{static path='/images/buttons/sources/button.demo.map3.png'}}" class="bigbutton"></img>
		</div>
	</div>

	<div class="row-fluid">
		<div {{action loadDemo4}} class="span4 demobutton" title="Marseille, CLC"">
			<img src="{{static path='/images/buttons/sources/button.demo.map4.png'}}" class="bigbutton"></img>
		</div>
		<div {{action loadDemo5}} class="span4 demobutton" title="San Francisco, Stamen Watercolor + SRTM">
			<img src="{{static path='/images/buttons/sources/button.demo.map5.png'}}" class="bigbutton"></img>
		</div>
		<div {{action loadDemo6}} class="span4 demobutton" title="Bretagne, 2 WMS">
			<img src="{{static path='/images/buttons/sources/button.demo.map6.png'}}" class="bigbutton"></img>
		</div>
	</div>

	
	<br />
</div>

