@import views.html.templates.components.sublayerVisibilities;
@import views.html.templates.components.exportList; 

<div id="exportMapWindow"
	class="modal hide fade">

	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark closer" data-dismiss="modal"> <i class="icon icon-ex-white-outline"></i></a>
	
	<br />
	<div class="row-fluid">
		<div class="span5 offset1">
 			<p class="popuptitle">Exports</p>
		</div>
	</div>
	<div class="row-fluid">
		@exportList()
	</div>
	
	
	<br />
	<div id="newExportArea">
		<div class="row-fluid">
			<div class="span5 offset1">
					<p class="popuptitle">New Export</p>
			</div>
		</div>
		<div class="row-fluid">
			<div id="exportArea">
				<div class="span5 offset2" id="zoomSelector"></div>
				<div class="btn-success btn-small span1 offset2" title="Export" {{action exportMap}}><i class="sprite-maperial maperial-map-go"></i></div>
			</div>
			{{#if user.selectedMap.config.map.latMin}}
			{{else}}
				<div class="offset2"> (You must choose a bounding box in order to export this map)</div>
			{{/if}}
		</div>
	</div>
	
	
	<br />
	<div class="row-fluid">
		<div class="span5 offset1">
			<p class="popuptitle">Tag</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="offset2">{{maperialtag user.selectedMap.uid}}</div>
	</div>

	<br />
</div>