
<div id="loginWindow"
	class="modal hide fade">

	<br />
	<div class="row">
		<div class="span5 offset1">
			<p class="popuptitle">Sign In with</p>
		</div>
	</div>
	
	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark closer" data-dismiss="modal"> <i class="icon icon-ex-white-outline"></i></a>

	<div class="row-fluid">
		<div class="span5 offset2" {{action maperialLogin}} title="Maperial">
			<img class="bigbutton touchable" src="assets/images/home/part1/maperialize.mini.png">Maperial
		</div>
		<div class="span5" title="Google">
			<img class="bigbutton touchable" src="assets/images/home/part1/maperialize.mini.png">Google
		</div>
	</div>

	<br />
</div>