
<div style="display: none;" id="loginWindow" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginWindowLabel" aria-hidden="true">

<!-- content COPIED FROM grooveshark.com -->
<div class="lbcontainer">
	<div id="lightbox-header">
		<h2 class="title" data-translate-text="SIGN_IN">Sign In with </h2>
		<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark" data-dismiss="modal">
			<i class="icon icon-ex-white-outline"></i>
		</a>
	</div>

	<div id="lightbox-content" style="max-height: 553px;">
		<div class="lightbox-content-block">
		
			<a id="lb-mapnify-login" class="btn share-btn third-party google last" data-dismiss="modal" onclick="MapnifyAuth.authorize()">
				<i class="icon icon-star-white-active"></i>
				<span class="text">Mapnify</span>
			</a>

	    </div>
    </div>
    
    <div id="lightbox-footer">
    	<div id="lightbox-footer-left" class="right">
    		<span class="no-account-text">Just choose the way you like to sign in with your email</span>
    	</div>
    </div>
</div>
<!-- /grooveshark.com -->

</div>
