
<div id="selectImagesWindow"
	class="modal hide fade popup" role="dialog">

	<br />
	<div class="row">
		<div class="span5 offset1">
			<p class="popuptitle">Select your tiles</p>
		</div>
	</div>
	
	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark closer" data-dismiss="modal"> <i class="icon icon-ex-white-outline"></i></a>

	<div class="row-fluid">
		<div {{action selectImages Source.IMAGES_MAPQUEST}} class="span3" title="Mapquest">
			<img src="{{static path='/images/buttons/sources/button.images.mapquest.png'}}" class="bigbutton"></img>
		</div>
		<div {{action selectImages Source.IMAGES_MAPQUEST_SATELLITE}} class="span3" title="Satellite">
			<img src="{{static path='/images/buttons/sources/button.images.mapquest.satellite.png'}}" class="bigbutton"></img>
		</div>
		<div {{action selectImages Source.IMAGES_OSM}} class="span3" title="OSM">
			<img src="{{static path='/images/buttons/sources/button.images.osm.png'}}" class="bigbutton"></img>
		</div>
		<div {{action selectImages Source.IMAGES_OCM_CYCLE}} class="span3" title="OpenCycleMap">
			<img src="{{static path='/images/buttons/sources/button.images.ocm.cycle.png'}}" class="bigbutton"></img>
		</div>
	</div>

	<div class="row-fluid">
		<div {{action selectImages Source.IMAGES_STAMEN_WATERCOLOR}} class="span3" title="Stamen Watercolor">
			<img src="{{static path='/images/buttons/sources/button.images.stamen.watercolor.png'}}" class="bigbutton"></img>
		</div>
		<div {{action selectImages Source.IMAGES_STAMEN_TERRAIN}} class="span3" title="Stamen Terrain">
			<img src="{{static path='/images/buttons/sources/button.images.stamen.terrain.png'}}" class="bigbutton"></img>
		</div>
		<div {{action selectImages Source.IMAGES_STAMEN_TONER}} class="span3" title="Stamen Toner">
			<img src="{{static path='/images/buttons/sources/button.images.stamen.toner.png'}}" class="bigbutton"></img>
		</div>
		<div {{action selectImages Source.IMAGES_STAMEN_TONER_BG}} class="span3" title="Stamen Toner BG">
			<img src="{{static path='/images/buttons/sources/button.images.stamen.toner-background.png'}}" class="bigbutton"></img>
		</div>
	</div>

	<div class="row-fluid">
		<div {{action selectImages Source.IMAGES_OCM_TRANSPORT}} class="span3" title="Transport">
			<img src="{{static path='/images/buttons/sources/button.images.ocm.transport.png'}}" class="bigbutton"></img>
		</div>
		<div {{action selectImages Source.IMAGES_OCM_LANDSCAPE}} class="span3" title="Landscape">
			<img src="{{static path='/images/buttons/sources/button.images.ocm.landscape.png'}}" class="bigbutton"></img>
		</div>
	</div>

	<br />
</div>

<!-- 

// http://maps.stamen.com/
// Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.
Source.IMAGES_STAMEN_WATERCOLOR     = "images.stamen.watercolor";
Source.IMAGES_STAMEN_TERRAIN        = "images.stamen.terrain";
Source.IMAGES_STAMEN_TONER          = "images.stamen.toner";
Source.IMAGES_STAMEN_TONER_BG       = "images.stamen.toner-background";

 -->