
<div style="display: none;" id="selectStyleWindow" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="selectStyleWindowLabel" aria-hidden="true">
	<div class="span12 offset2">
       	Styles
	    <table role="presentation" class="table table-striped">
        	<tbody class="files">
	    		{{#each style in publicData.styles}}
				    <tr class="template-download">
				        <td class="name"><p class="filename">{{style.name}}</p></td>
				    </tr>
			    {{/each}}
		    </tbody>
        </table>
	</div>
</div>