
<div id="selectWMSWindow"
	class="modal hide fade" role="dialog">

	<br />
	<div class="row">
		<div class="span5 offset1">
			<p class="popuptitle">Select your data</p>
		</div>
	</div>
	
	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark closer" data-dismiss="modal"> <i class="icon icon-ex-white-outline"></i></a>

	<div class="row-fluid">
		<div {{action selectWMS Source.WMSA}} class="span5 offset1" title="WMSA">
			<img src="{{static path='/images/buttons/sources/button.vector.png'}}" class="bigbutton"></img>
		</div>
		<div {{action selectWMS Source.WMSB}} class="span5" title="WMSB">
			<img src="{{static path='/images/buttons/sources/button.vector.png'}}" class="bigbutton"></img>
		</div>
	</div>

	<br />
</div>

