
<div id="selectWMSWindow"
	class="modal hide fade" role="dialog">

	<br />
	<div class="row">
		<div class="span5 offset1">
			<p class="popuptitle">Select your data</p>
		</div>
	</div>
	
	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark closer" data-dismiss="modal"> <i class="icon icon-ex-white-outline"></i></a>

	<div class="row-fluid">
		<div {{action selectWMS Source.WMS_BRETAGNECANTONS}} class="span5 offset1">
			<img src="{{static path='/images/buttons/sources/button.wms.bretagnecantons.png'}}" class="bigbutton"></img>
		</div>
		<div class="span5 offset1">
			<p>Cantons de Bretagne</p>
		</div>
	</div>
	<div class="row-fluid">
		<div {{action selectWMS Source.WMS_FRANCECOURSDEAU}} class="span5 offset1">
			<img src="{{static path='/images/buttons/sources/button.wms.francecoursdeau.png'}}" class="bigbutton"></img>
		</div>
		<div class="span5 offset1">
			<p>Cours d'eau en France</p>
		</div>
	</div>

	<br />
</div>

