
<div id="selectImagesWindow"
	class="modal hide fade" role="dialog">

	<br />
	<div class="row">
		<div class="span5 offset1">
			<p class="popuptitle">Select your tiles</p>
		</div>
	</div>
	
	<a id="lightbox-close" class="btn btn-rounded btn-icon-only btn-dark closer" data-dismiss="modal"> <i class="icon icon-ex-white-outline"></i></a>

	<div class="row-fluid">
		<div {{action selectImages Source.IMAGES_MAPQUEST}} class="span5 offset1" title="Mapquest">
			<img src="@routes.Assets.at("images/buttons/sources/button.images.mapquest.png")" class="bigbutton"></img>
		</div>
		<div {{action selectImages Source.IMAGES_MAPQUEST_SATELLITE}} class="span5" title="Satellite">
			<img src="@routes.Assets.at("images/buttons/sources/button.images.mapquest.satellite.png")" class="bigbutton"></img>
		</div>
	</div>
	<div class="row-fluid">
		<div {{action selectImages Source.IMAGES_OSM}} class="span5 offset1" title="OSM">
			<img src="@routes.Assets.at("images/buttons/sources/button.images.osm.png")" class="bigbutton"></img>
		</div>
	</div>

	<br />
</div>

