/* main menu div*/
#styleMenu_menu_maindiv {
	float: left;
	font-size: 60%;
	width: 350px;
	padding: 20px;
	border-style: solid;
	border-width: 0px;
	border-color: #777;
	background-color: #ddd;
}

/* main widget div*/
.styleMenu_menu_widgetDiv {
	float: left;
	font-size: 70%;
	width: 250px;
	padding: 20px;
	border-style: solid;
	border-width: 0px;
	border-color: #777;
	background-color: #ddd;
}

/* zoom h2 */
.styleMenu_menu_par_title_z {
	display: none;
}

/*zoom select buttons*/
#styleMenu_menu_zoom_selector {
	align: center;
	width: 85%;
}

/*zoom slider*/
#styleMenu_menu_sliderrangez {
	align: center;
	width: 85%;
}

/* header of main section */
.styleMenu_menu_par_title {
	color: #00f;
}

/* zoom + / - button */
.styleMenu_menu_zbutton {
	width: 60px;
}

/* zoom buttons */
.styleMenu_menu_checkboxz {
	width: 60px;
}

/*************************/
#panelDetailsMenu {
	position: fixed;
	top: 250px;
	left: 0;
	display: none;
	background: #111;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	width: 370px;
	height: auto;
	padding: 80px 30px 30px 30px;
	filter: alpha(opacity = 85);
	opacity: .85;
}

#panelQuickEdit {
	position: fixed;
	top: 70px;
	right: 0;
	display: none;
	background: #111;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	width: 180px;
	height: auto;
	padding: 30px 80px 30px 30px;
	filter: alpha(opacity = 85);
	opacity: .85;
}

#panelZooms {
	position: fixed;
	top: 0px;
	left: 25%; /*500px;*/
	right: 25%; /*500px;*/
	display: none;
	background: #111;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	/*width: 480px;*/
	height: auto;
	padding: 30px 30px 30px 130px;
	filter: alpha(opacity = 85);
	opacity: .85;
}

#panelStyleManager {
	position: fixed;
	top: 80px;
	left: 0; 
	display: none;
	background: #111;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	/*width: 480px;*/
	height: auto;
	padding: 30px 30px 30px 130px;
	filter: alpha(opacity = 85);
	opacity: .85;
}

#panelMagnifier {
	height: 200px;
	position: fixed;
	bottom: 123px;
	right: 0; 
	display: none;
	background: #222;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	padding: 3px 3px 3px 3px;
}

a#triggerDetailsMenu {
	position: fixed;
	text-decoration: none;
	top: 280px;
	left: 0;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 20px 40px 20px 15px;
	font-weight: 700;
	background: #111 url(../../images/mapediting/plus.png) 85% 55% no-repeat;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	display: block;
	z-index: 9999;
}

a#triggerDetailsMenu:hover {
	position: fixed;
	text-decoration: none;
	top: 280px;
	left: 0;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 20px 40px 20px 20px;
	font-weight: 700;
	background: #333 url(../../images/mapediting/plus.png) 85% 55% no-repeat;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	display: block;
}

a.active#triggerDetailsMenu {
	background: #111 url(../../images/mapediting/minus.png) 85% 55% no-repeat;
}

a#triggerQuickEdit {
	position: absolute;
	text-decoration: none;
	top: 80px;
	right: 0;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 20px 15px 20px 40px;
	font-weight: 700;
	background: #111 url(../../images/mapediting/plus.png) 15% 55% no-repeat;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
	z-index: 9999;
}

a#triggerQuickEdit:hover {
	position: absolute;
	text-decoration: none;
	top: 80px;
	right: 0;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 20px 20px 20px 40px;
	font-weight: 700;
	background: #333 url(../../images/mapediting/plus.png) 15% 55% no-repeat;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
}

a.active#triggerQuickEdit {
	background: #111 url(../../images/mapediting/minus.png) 15% 55% no-repeat;
}

a#triggerZooms {
	position: absolute;
	text-decoration: none;
	top: 103px;
	left: 25%;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 20px 20px 15px 40px;
	font-weight: 700;
	background: #111 url(../../images/mapediting/plus.png) 15% 55% no-repeat;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	display: block;
	z-index: 9999;
}

a#triggerZooms:hover {
	position: absolute;
	text-decoration: none;
	top: 103px; 
	left: 25%;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 20px 20px 20px 40px;
	font-weight: 700;
	background: #333 url(../../images/mapediting/plus.png) 15% 55% no-repeat;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	display: block;
}

a.active#triggerZooms {
	background: #111 url(../../images/mapediting/minus.png) 15% 55% no-repeat;
}


a#triggerStyleManager {
	position: absolute;
	text-decoration: none;
	left: 0;
	top : 80px;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 20px 40px 20px 15px;
	font-weight: 700;
	background: #111 url(../../images/mapediting/plus.png) 85% 55% no-repeat;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	display: block;
	z-index: 9999;
}

a#triggerStyleManager:hover {
	position: absolute;
	text-decoration: none;
	left: 0;
	top : 80px;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 20px 40px 20px 20px;
	font-weight: 700;
	background: #333 url(../../images/mapediting/plus.png) 85% 55% no-repeat;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	display: block;
}

a.active#triggerStyleManager {
	background: #111 url(../../images/mapediting/minus.png) 85% 55% no-repeat;
}

a#triggerMagnifier {
	position: absolute;
	text-decoration: none;
	right: 0;
	bottom: 307px;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #cdd;
	padding: 20px 15px 20px 40px;
	font-weight: 700;
	background: #111 url(../../images/mapediting/plus.png) 15% 55% no-repeat;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
	z-index: 9999;
}

a#triggerMagnifier:hover {
	position: absolute;
	text-decoration: none;
	right: 0;
	bottom: 307px;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 20px 20px 20px 40px;
	font-weight: 700;
	background: #333 url(../../images/mapediting/plus.png) 15% 55% no-repeat;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
}

a.active#triggerMagnifier {
	background: #111 url(../../images/mapediting/minus.png) 15% 55% no-repeat;
	width: 19px;
	padding: 0;
	font-size: 0;
}