/* main menu div*/
#mapnify_menu_maindiv{
  float : left;
  font-size : 60%;
  width : 350px;
  padding : 20px;
  border-style : solid;
  border-width : 1px;
  border-color : #777; 
  background-color : #ddd;
}

/* main widget div*/
.mapnify_menu_widgetDiv{
  float : left;
  font-size : 70%;
  width : 250px;
  padding : 20px;
  border-style : solid;
  border-width : 1px;
  border-color : #777; 
  background-color : #ddd;
}

/* header of main section */
.mapnify_menu_par_title{
  color : #00f;
}

/* zoom + / - button */
.mapnify_menu_zbutton{
  width : 60px;
}

/* zoom buttons */
.mapnify_menu_checkboxz{
  width : 60px;
}

